mhk_diff.txt
specimendetails_diff.txt
checkcfquery.py
cache
mediaUploads
specimen_images
metrics/datafiles/
metrics/R/datafiles/
_notes/
/bower_components/
/node_modules/
bnhmMaps/tabfiles
# Generated sitemap files
sitemapindex.xml
sitemapindex.xml.gz
media*.xml.gz
project*.xml.gz
publication*.xml.gz
specimen*.xml.gz
static*.xml.gz
taxonomy*.xml.gz
media*.xml
project*.xml
publication*.xml
specimen*.xml
static*.xml
taxonomy*.xml
.htaccess
# Eclipse
.project
# Generaed by schedueld job
all_all/
mcz_bird/
mcz_cryo/
mcz_ent/
mcz_fish/
mcz_herp/
mcz_herpobs/
mcz_ip/
mcz_iz/
mcz_mala/
mcz_mamm/
mcz_sc/
mcz_vp/
media2.xml
media4.xml
specimen1.xml
specimen4.xml
specimen9.xml
taxonomy3.xml
taxonomy5.xml

includes/_header_withPaulsChanges.cfm
includes/style_backup.css
*.tmp
includes/_header_withPaulsChanges.cfm
/lib/fontawesome/fontawesome-free-5.5.0-web/less/_mixins.css
/lib/fontawesome/fontawesome-free-5.5.0-web/less/_variables.css
