cache
mediaUploads
specimen_images
bnhmMaps/tabfiles
# Generated sitemap files
sitemapindex.xml
sitemapindex.xml.gz
media*.xml.gz
project*.xml.gz
publication*.xml.gz
specimen*.xml.gz
static*.xml.gz
taxonomy*.xml.gz
# Eclipse
.project
