/** This file contains Various local style customizations **/
/************************/
body, html {
	line-height: 1.15rem;
	font-size: 15px;
}
/** Styling of Required fields on forms **/
input.reqdClr, select.reqdClr, textarea.reqdClr {
	background-color: #E4E476 !important;
	border: 1px solid #bac5c6 !important;
	outline: none;
	border-radius: .2rem;
}
input.badPick, select.badPick, textarea.badPick {
	background-color: #FF3366 !important;
}
input.goodPick, select.goodPick, textarea.goodPick {
	background-color: rgba(173, 236, 199, 0.3) !important;
}
#taxon_form label, #taxon_form2 label {
	font-size: .8rem;
	line-height: 1.02;
	font-weight: 450;
}
.small90 {
	font-size: 89%
}
.font-weight-lessbold {
	font-weight: 500;
}
a {
	cursor: pointer;
}
/** Styling of external links out, shared with production **/
.external:after {
	text-decoration: none !important;
	content: "\a0" url(/shared/images/linkOut.gif);
}
a.external:link:after {
	text-decoration: none !important;
	content: "\a0" url(/shared/images/linkOut.gif);
}
a.external:hover:after {
	text-decoration: none !important;
	content: "\a0" url(/shared/images/linkOutHover.gif);
}
a.external:visited:after {
	text-decoration: none !important;
	content: "\a0" url(/shared/images/linkOutVisited.gif);
}
a.external:hover:visited:after {
	text-decoration: none !important;
	content: "\a0" url(/shared/images/linkOutHover.gif);
}
.imgsize:nth-child(3n+1) {
	width: 31.5%;
	margin: 0;
}
.imgsize:nth-child(3n+2) {
	width: 31.5%;
	margin: 0;
}
.imgsize:nth-child(3n+3) {
	width: 31.5%;
	margin: 0 2%;
}
table {
	font-size: 0.875rem;
}
table td .small {
	font-size: 90%
}
/*********************************************/
/* BELOW  Misc. Additions to Bootstrap Styles*/
/*********************************************/
.bg-lightgreen {
	background-color: #CAEAAD;
}
.border-white {
	border: 1px solid white;
}
/*********************************************/
/* BELOW  Misc. Override of Bootstrap Styles */
/*********************************************/
option:hover {
	font-weight: normal;
	display: block;
	white-space: pre;
	min-height: 1.2rem;
	padding: .25rem .5rem;
	outline: #ccc auto 1px;
}
select:focus {
	outline-offset: 0;
	outline: 0;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.25;
	margin: .5rem 0;
	font-weight: 500;
}
h1, .h1 {
	font-size: 1.35rem;
	margin-bottom: 1rem;
}
dl, ol, ul {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: .875rem;
}
span.var-display {
	font-size: .875rem;
}
legend {
	font-size: .875rem;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: .7rem;
}
[hidden] {
	display: none;
}
.smallcaps {
	font-variant: small-caps;
}
h2, .h2 {
	font-size: 1.25rem;
}
h3, .h3 {
	font-size: 1.15rem;
}
h4, .h4 {
	font-size: 1rem;
}
h5, .h5 {
	font-size: .875rem;
}
h6, .h6 {
	font-size: .75rem;
}
.btn-link, .helpText, .fas-info {
	color: #036ee0 !important;
}
#resultLink a {
	padding: .15rem .25rem;
	outline: 0;
}
#resultLink a.hover, #resultLink a:hover {
	padding: .15rem .25rem;
	outline: 0;
}
#resultLink a.focus, #resultLink a:focus {
	padding: .15rem .25rem;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.jqx-grid-cell-left-align a {
	padding: .15rem .25rem;
	outline: 0;
}
.jqx-grid-cell-left-align a.hover, .jqx-grid-cell-left-align a:hover {
	padding: .15em .25rem;
	outline: 0;
}
.jqx-grid-cell-left-align a.focus, .jqx-grid-cell-left-align a:focus {
	padding: .15rem .25rem;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
/* Editable cells in a jqx-grid */
.editable-cell {
	border-width: 1px 1px 1px 1px !important;
	border-color: #939393 !important;
}
p {
	margin-bottom: .75rem;
	line-height: normal;
	margin-top: 0;
	font-size: .95rem;
}
p:focus {
	box-shadow: 0 0 0 0;
}
div:focus, div > span:focus {
	box-shadow: 0 0 0 0;
}
div:focus, div > span:focus {box-shadow: 0 0 0 0;}
.info {
	position: absolute;
	left: -9000px;
	width: 0;
	overflow: hidden;
}
.link-color {
	color: #007bff;
}
.brackets {
	width: 5px;
	font-size: 24px;
	margin-top: -4px;
}
.warning {
	border: 5px solid red;
}
.sm-caps {
	font-variant: small-caps;
}
.input-group-text-sm {
	padding: .25rem .5rem !important;
}
.custom-form-input {
	height: calc(1rem + .375rem + .5rem);
}
.line-height-sm {
	line-height: 1.15;
}
.non-field-text {
	padding: .15rem .5rem;
	border-radius: .2rem;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.15rem;
}
.text-other {
	font-size: .875em;
	font-weight: 500;
}
#loanAgents tr {
	line-height: 1rem;
}
label {
	/* Override bootstrap label .5rem to reduce excess whitespace on forms. */
	margin-bottom: 0;
}
.border { /* bootstrap border override */
	border: 1px solid #bac5c6 !important;
}
.shadowbox {
	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.09);
}
.bg-grayish {
	background-color: #F5F5F5;
}
.dotted-border {
	border: 2px dotted #bac5c6 !important;
}
.text-grayish {
	color: #f5f5f5;
}
/*********************************/
/* BELOW:    code for 3 searches */
/*********************************/
/************************
*************************
BELOW: Small Form button (bootstrap override)
************************/
.btn-xs {  /*********Changed padding and font size to see if the text is more vertically aligned; vertical-align:middle; hasn't worked**********/
	display: inline-block;
	font-weight: 500;
	color: #212529;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid #aaa;
/*	padding: .15rem .5rem .22rem .5rem;*/
/*	font-size: .875rem;*/
/*	line-height: 1.15rem;*/
	border-radius: .2rem;
	font-size: small;
	padding: 2px 5px;
}
.btn-outline-primary {
	background-color: white;
}

.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border: 1px solid hsl(0, 0%, 62%);
}
.btn-outline-success {
	color: #28a745;
	border-color: #28a745;
}
.date-field-forms {
	padding: .4rem .8rem .5rem .8rem;
	margin: .5rem .9rem .2rem 1.2rem;
}
/************************
*************************
BELOW: Main button (bootstrap override)
************************/
button:focus, input:focus, select:focus, button.focus, input.focus, select.focus {
	box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
	outline: 0;
	border: 1px dotted #ccc;
}
span.data-entry-addon {
	cursor: pointer;
}
.btn-primary {
	background-color: #d9f1f3;
	border: 1px solid hsl(0, 0%, 56%, 1);
	color: buttontext;
}
.btn-sm {
	margin-top: 0;
	height: calc(1.5rem + .5rem + 1px);
}
.btn-primary:hover {
	/*background-color: #d3dfe0;*/
	color: #212529;
	background-color: #deebec;
	background: #deebec;
	border: 1px solid hsl(0, 2%, 47%);
}
.btn-primary:focus, .btn-primary.focus, span.data-entry-addon.focus, span.data-entry-addon:focus {
	background-color: #deebec;
	color: #212529;
	border: 1px solid #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #deebec;
	color: #212529;
	border: 1px solid #ced4da;
}
.btn-powder-blue {
	color: #1b1b1b;
	letter-spacing: .04rem;
	background-color: #d9e8fa;
	border: 1px solid hsl(0, 0%, 62%);
	font-size: small;
	font-weight: 490;
}
.btn-powder-blue:hover {
	/*background-color: #d3dfe0;*/
	color: #fff;
	background: #54a4f9;
	letter-spacing: .04rem;
	border: 1px solid hsl(0, 2%, 47%);
}
.btn-secondary {
	background-color: #d7d7d7;
	background: #d7d7d7;
	border: 1px solid hsl(0, 0%, 62%);
	color: #212529;
	margin-top: 0;
}
.btn-secondary:hover {
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
	background-color: rgba(220, 220, 220, .8);
}
.btn-secondary:focus, .btn-secondary.focus {
	background-color: #d7d7d7;
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
	background-color: #d7d7d7;
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
}
.btn-secondary.disabled, .btn-secondary:disabled {
	background-color: #d7d7d7;
	color: #999;
	border: 1px solid hsl(0, 2%, 47%);
	box-shadow: 0 0 0 0.02rem rgba(255, 255, 255, 0.5);
	box-shadow: none;
}
.btn-warning {
	background-color: #ffc10782;
	background: #ffc10782;
	border: 1px solid hsl(0, 0%, 56%, 1);
	color: buttontext;
	margin-top: 0;
}
.btn-warning:hover {
	background-color: #f5bd12ba;
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
}
.btn-warning:focus, .btn-warning.focus {
	background-color: #f5bd12ba;
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active, .show > .btn-warning.dropdown-toggle {
	background-color: #f5bd12ba;
	color: #212529;
	border: 1px solid hsl(0, 2%, 47%);
}
.btn-warning.disabled, .btn-warning:disabled {
	background-color: #f5bd12ba;
	color: #999;
	border: 1px solid hsl(0, 2%, 47%);
	box-shadow: 0 0 0 0.02rem rgba(255, 255, 255, 0.5);
	box-shadow: none;
}
.jqx-grid-cell {
	border-width: 0px 1px 1px 1px;
	border-color: buttonface;
}
.jqx-grid-cell a {
	padding-left: .3rem;
}
.jqx-grid-cell a.focus, .jqx-grid-cell a:focus {
	text-decoration: underline;
	box-shadow: 0 0 0 0.02rem rgba(255, 255, 255, 0.5);
	box-shadow: none;
}
.text-success {
	color: #1e5d16 !important;
}
.btn-danger {
	background-color: #f8d7da;
	background: #f8d7da;
	border: 1px solid hsl(0, 0%, 56%, 1);
	color: #c82333;
	margin-top: 0;
}
.btn-primary.disabled, .btn-primary:disabled, .btn-secondary:disabled, .btn-secondary.disabled, .btn-warning.disabled, .btn-warning:disabled, .btn-danger.disabled, .btn-danger:disabled {
	background-color: #d7d7d7;
	color: #999;
	border: 1px solid hsl(0, 2%, 47%);
	box-shadow: 0 0 0 0.02rem rgba(255, 255, 255, 0.5);
	box-shadow: none;
}
/************************
*************************
BELOW: SPECIMEN DETAIL STYLES 
************************/
/* BELOW: Top label area on Specimen Record Detail */
.defaultType {
	background-color: white;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e000000', endColorstr='#00000000', GradientType=0); /* IE6-9 */
	-webkit-box-shadow: -2px -1px -4px -5px rgba(204, 204, 204, 1);
	-moz-box-shadow: -2px -1px -4px -5px rgba(204, 204, 204, 1);
	box-shadow: -2px -1px -4px -2px rgba(204, 204, 204, 1);
	border-bottom: 1px solid #ccc;
}
.primaryType {
	background-color: white;
	-webkit-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	-moz-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	border-bottom: 1px double #ccc;
	background: -moz-linear-gradient(top, rgba(165, 28, 48, .3) 0%, rgba(160, 77, 88, 0.12) 100%, rgba(109, 0, 25, 0) 100%); /*FF3.6-15*/
	background: -webkit-linear-gradient(top, rgba(165, 28, 48, .3) 0%, rgba(160, 77, 88, 0.12) 100%, rgba(109, 0, 25, 0) 100%); /*Chrome10-25,Safari5.1-6*/
	background: linear-gradient(to bottom, rgba(165, 28, 48, .3) 0%, rgba(160, 77, 88, 0.12) 100%, rgba(109, 0, 25, 0) 100%); /*W3C,IE10+,FF16+,Chrome26+, Opera12+,Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a51c30', endColorstr='#0a6d0019', GradientType=0); /* IE6-9 */
	border: 1px solid #aaa;
}
.secondaryType {
	background-color: white;
	-webkit-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	-moz-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	border-bottom: 1px double #ccc;
	background: -moz-linear-gradient(top, rgba(6, 109, 171, 0.4) 0%, rgba(138, 187, 215, 0.13) 100%, rgba(197, 222, 234, 0) 100%); /*FF3.6-15*/
	background: -webkit-linear-gradient(top, rgba(6, 109, 171, 0.4) 0%, rgba(138, 187, 215, 0.13) 100%, rgba(197, 222, 234, 0) 100%); /*Chrome10-25,Safari5.1-6*/
	background: linear-gradient(to bottom, rgba(6, 109, 171, 0.4) 0%, rgba(138, 187, 215, 0.13) 100%, rgba(197, 222, 234, 0) 100%); /*W3C,IE10+,FF16+,Chrome26+,Opera12+,Safari7+*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e066dab', endColorstr='#00c5deea', GradientType=0); /*IE6-9 */
	border: 1px solid #aaa;
}
.ptype {
	font-weight: bold;
	background-color: white;
	border: 1px solid #ccc;
	border: 1px solid #aaa;
	padding: 5px;
	margin-top: 1rem;
	width: auto;
	display: block;
	position: absolute;
	margin-left: -200px;
}
.stype {
	font-weight: bold;
	background-color: #fff;
	color: black;
	border: 1px solid #aaa;
	padding: 5px;
	margin-top: 1rem;
	width: auto;
	position: absolute;
	margin-left: -500px;
}
/*.card {
	background-color: transparent;
	font-size: .90rem;
}*/
.card-columns .card {
	margin-bottom: 0;
}
.card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	min-height: 1px;
	padding: .25rem .5rem;
}
.card-body ul li {
	padding-left: .5rem;
	list-style: none;
}
li.pid {
	padding-left: 0;
}
.card-header {
	padding: .25rem .75rem;
}
/*.no-card {
	border: none;
}*/
.no-card {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
}
.list-group-item {
	padding: 0.25rem .5rem 0 .5rem;
}
li.pid {
	color: #666;
	list-style: circle;
	padding-bottom: 0;
}
li.list-group-item.thethumbs {
	width: 120px;
	font-size: smaller;
	line-height: 15px;
	padding: 10px;
	float: left;
	display: inline;
	margin: 10px 10px 10px 0;
}
li.list-group-item.thethumbs:first-child {
	width: 120px;
	font-size: smaller;
	line-height: 15px;
	padding: 10px;
	float: left;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}
/************************
*************************
BELOW: SEARCH PAGE STYLES to 
override Bootstrap styles
************************/
table#POITable {
	display: block;
	border: none;
}
#POITable select option {
	font-size: 12px;
}
.searchfield {
	margin-top: .5rem;
	font-size: 1.2rem;
	padding-bottom: 0;
	float: left;
	width: 1.2rem;
	margin-right: .6rem;
	list-style: none;
}
.rec_count {
	color: #006100;
	font-size: 15px;
}
body.modal-open {
	padding: 0 !important;
	overflow-y: scroll !important;
}
/***********************************************/
/* BELOW: filter and column slider menu styles */
/***********************************************/
#cbp-spmenu-s2 {
	z-index: 600;
}
/* #showRightPush black label "Filters" tab that moves the filter for what is in the columns*/
section a#showRightPush {
	width: 30px;
	margin-left: -30px;
	writing-mode: vertical-rl;
	z-index: 999;
	margin-top: 163px;
	padding: 7px 1px 7px 5px;
	position: relative;
	letter-spacing: .07rem;
	font-weight: bold;
	font-size: 1rem;
	transform-origin: top left;
	text-align: center;
	color: white;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
/* #showLeftPush black label "Columns" tab that moves the filter for displaying the columns*/
section a#showLeftPush {
	width: 32px;
	margin-right: -30px;
	writing-mode: vertical-rl;
	z-index: 999;
	right: 30px;
	padding: 7px 3px 7px 5px;
	position: relative;
	letter-spacing: .07em;
	font-weight: bold;
	font-size: 1rem;
	margin-top: 301px;
	transform-origin: top right;
	text-align: center;
	color: white;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu {
	background: white;
	position: fixed;
	z-index: 5000;
}
.cbp-spmenu h3.filters {
	color: #3E6F7D;
	font-size: 1.7rem;
	padding: 20px;
	margin: 0;
	font-weight: 400;
	background: #DEEBEC;
	margin-top: -298px;
}
.cbp-spmenu a {
	display: block;
	font-size: 1.1rem;
	font-weight: 400;
	color: #007bff;
}
.cbp-spmenu a:hover {
	cursor: pointer;
	font-weight: 400;
}
.cbp-spmenu a:active {
	color: azure;
}
.cbp-spmenu-vertical {
	width: 298px;
	height: 100%;
	top: 0;
	z-index: 50000;
	background-color: white;
}
.jqxlistbox2.jqx-listbox {
	margin-left: 6px
}
.cbp-spmenu-right {
	right: -298px;
}
.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
	border-left: 1px solid #ccc;
	padding-right: 3px;
	transition: all 0.3s ease;
}
.cbp-spmenu, .cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.cbp-spmenu h3.columns {
	color: #3E6F7D;
	font-size: 1.3rem;
	padding: 16px;
	margin: 0;
	font-weight: 400;
	background: #DEEBEC;
	margin-top: -392px;
}
.list-group-item {
	background-color: transparent;
}
.cbp-spmenu-left {
	right: -214px;
}
.cbp-spmenu section a.disabled {
	display: none;
}
.cbp-spmenu-vertical-left {
	width: 214px;
	height: 420px;
	top: 0;
	z-index: 50000;
	background-color: white;
}
.cbp-spmenu-left {
	right: -214px;
}
.cbp-spmenu-left.cbp-spmenu-open {
	right: 0px;
	border: 1px solid #ccc;
	border-right: none;
	transition: all 0.3s ease;
}
#clearfilter {
	margin-left: 1rem;
	margin-top: 1rem;
}
#applyfilter {
	margin-top: 1em;
}
.black-filter-btn {
	border-color: rgb(255, 255, 255);
	color: #555;
	background-color: rgb(15, 13, 14);
	box-shadow: rgb(204, 204, 204) 0px 0px 5px;
	border-width: 3px 0 3px 3px;
}
.black-columns-btn {
	border-color: rgb(255, 255, 255);
	color: #555555;
	background-color: rgb(15, 13, 14);
	box-shadow: rgb(204, 204, 204) 0px 0px 5px;
	border-width: 3px 0 3px 3px;
}
a#showRightPush.hiddenclass {
	display: none;
}
a#showLeftPush.hiddenclass {
	display: none;
}
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 7px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 15px;
}
#regForm {
	margin: 0px auto;
	padding: 0 20px;
	width: 100%;
	min-width: 300px;
}
#regForm input {
	display: block;
	padding: .375rem .75rem;
	height: calc(1.5em + .75rem + 2px);
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.2rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	width: 100%;
}
#regForm select {
	font-size: .875rem;
}
/* Mark input boxes that gets an error on validation: */
#regForm input.invalid, #regForm select.invalid {
	background-color: #ffdddd;
}
/* Hide all steps by default: */
#regForm .tab {
	display: none;
}
#prevBtn {
	background-color: #bbbbbb;
}
/* Make circles that indicate the steps of the form: */
#regForm .step {
	height: 25px;
	width: 25px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.85;
	color: #333;
}
#regForm .step.active {
	opacity: 1;
	background-color: #3E6F7D;
	color: white;
}
/* Mark the steps that are finished and valid: */
#regForm .step.finish {
	background-color: #80ADCC;
}
/*************************************/
/*****BELOW:  User Profile Page styles  RSS feed
/*************************************/
#divRss {
	border: 2px solid #deedec;
	border-radius: .2rem;
	padding: .23rem;
	margin-top: 3.5rem;
	margin-bottom: 2rem;
}
.shell {
	background-color: #deedec;
	padding-top: .13rem;
}
.shell h2 span {
	dipslay: block;
}
.feedAtom div {
	float: left;
	width: auto;
}
.feedAtom:nth-child(even) {
	background-color: #fff;
	padding: .5rem;
}
.feedAtom:nth-child(odd) {
	background-color: #F8F9FA;
	padding: .5rem;
}
.feedAtom a {
	clear: both;
	padding: .5rem .5rem 0 .5rem;
	display: block;
}
.updatedAtom {
	background-color: lightgoldenrodyellow;
	padding: 2px .5rem;
	height: 1.75rem;
	margin: 0 5px 0 0;
	border: 1px solid palegoldenrod;
}
.loginMessage {
	color: #a51c30;
	background-color: #ffedeb;
	border-radius: .25rem;
	border: 1px solid #A51c30;
	font-style: italic;
	display: inline-block;
	margin: .75rem .5rem .5rem 0;
	padding: .5rem;
}
code {
	font-size: 80%;
}
#partForm .row {
	margin: 15px 0;
}
#partForm label {
	margin-bottom: 0;
	margin-left: 5px;
}
#partForm .form-group {
	margin-right: 5px;
}
#jqxDropDownList {
	padding: .86rem 0;
}
button.detail-edit-cell {
	width: auto;
	margin-top: -1.9rem;
}
button#open.red_bk {
	background-color: white;
	-webkit-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	-moz-box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	box-shadow: -2px -3px 40px -5px rgba(204, 204, 204, 1);
	background: -moz-linear-gradient(top, rgba(165, 28, 48, .3) 17%, rgba(160, 77, 88, 0.17) 100%, rgba(109, 0, 25, .14) 100%); /*FF3.6-15*/
	background: -webkit-linear-gradient(top, rgba(165, 28, 48, .3) 17%, rgba(160, 77, 88, 0.17) 100%, rgba(109, 0, 25, .14) 100%); /*Chrome10-25,Safari5.1-6*/
	background: linear-gradient(to bottom, rgba(165, 28, 48, .3) 17%, rgba(160, 77, 88, 0.17) 100%, rgba(109, 0, 25, .14) 100%); /*W3C,IE10+,FF16+,Chrome26+, Opera12+,Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a51c30', endColorstr='#0a6d0019', GradientType=0);
}
input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4rem;
}
div#users-contain {
	width: 350px;
	margin: 20px 0;
}
div#users-contain table {
	margin: 1rem 0;
	border-collapse: collapse;
	width: 100%;
}
div#users-contain table td, div#users-contain table th {
	border: 1px solid #eee;
	padding: .6rem 10px;
	text-align: left;
}
.ui-dialog .ui-state-error {
	padding: .3rem;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3rem;
}
button#save.white_bk {
	background-color: white;
}
div#users-contain {
	width: 700px;
	margin: 20px 0;
}
div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}
div#users-contain table td, div#users-contain table th {
	border: 1px solid #eee;
	padding: .6rem 10px;
	text-align: left;
}
.ui-dialog .ui-state-error {
	padding: .3rem;
}
.validateTips {
	border: 1px solid transparent;
	padding: 0.3rem;
}
.list-group-item {
	border: none;
}
ul.list-unstyled li.list-group-item {
	margin-bottom: 0;
	border-bottom: 1px solid #ccc;
}
ul.list-unstyled li.list-group-item:last-child {
	margin-bottom: 0;
	border-radius: 0;
}
ul > li.list-group-item:nth-last-of-type(-n+2) {
	border-bottom: none;
}
.jqx-widget-header {
	background-color: #deebec !important;
	/*	padding: .15em 0;*/
	border-radius: 4px;
	margin-top: 0px;
}
/*I don't know that this is needed.  I used bootstrap styles.*/
.jqx-grid-load {
	background-position: 0% 0%;
}
.active_form {
	border: 2px solid gray;
	padding: 15px;
	border-radius: 5px;
	margin-top: 1rem;
}
.alert_box {
	border: 3px solid red;
	padding: 15px;
	padding-bottom: 0;
	margin: 2px;
	margin-top: 0;
	margin-bottom: 10px;
	border-radius: 5px;
	width: auto;
}
li.colls {
	margin-left: -20px;
	list-style: none;
	padding: 0;
}
table#static_values td {
	background-color: white;
	padding-left: 20px;
	border: none;
	font-size: 14px;
	letter-spacing: -.01em;
	font-weight: bold;
}
table#static_values label {
	font-size: 13px;
	letter-spacing: -.01em;
	font-weight: normal;
}
table.inputTable tr td label {
	padding-top: 5px;
	margin: 0 8px;
	margin-bottom: 0px;
}
table.inputTable tr {
	background-color: white;
}
.save_shared {
	/*  desktop button for saving shared locality on dialog*/
	border: 2px solid red;
	position: absolute;
	left: 1.5em !important;
}
/* tab cards */
.tab-card-main {
	background-color: #f5f5f5;
	border-radius: 4px 4px 0 0;
}
.tab-card-header {
	background-color: #3E6F7D;
	padding-top: 11px;
	border-radius: 6px 6px 0 0;
}
.card-title:first-child {
	padding-left: .5em;
}
.list-even {
	background-color: #f8f9fa;
	padding: .5rem 0;
}
.list-odd {
	background-color: #ffffff;
	padding: .5rem 0;
}
.tab-card-header > .nav-tabs {
	border: none;
	margin: 0;
	background-color: #3E6F7D;
}
.bg-blue-gray {
	background-color: #deebec;
}
/******************/
.table-striped tbody tr:nth-of-type(odd) {
	background-color: #f8f9fa;
}
.table-responsive {
	font-size: .875rem;
}
.card-header:first-child {
	border-radius: .25rem .25rem 0 0;
}
.search-box {
	background-color: #f5f5f5;
	margin-top: 1rem;
	padding-bottom: .25rem;
	width: 100%;
	border-radius: .5rem;
	border: 2px solid #3E6F7D;
}
.search-box-header {
	background-color: #3e6f7d;
	padding: .15rem 1rem .1rem 1.65rem;
	margin-top:-1px;
}
::-ms-clear {
	display: none;
}
.form-control-clear {
	z-index: 10;
	pointer-events: auto;
	cursor: pointer;
}
.jqx-grid-cell-selected-light a:focus, .jqx-fill-state-pressed a {
	color: blue !important; /*changed from white*/
	text-decoration: underline;
}
input[type="button"]#delPOIbutton {
	font-family: FontAwesome;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: white;
}
input[type="button"]#addmorePOIbutton {
	font-family: FontAwesome;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	background-color: white;
}
select#lngbox::after {
	border-left: 0;
}
select, select::after {
	background-color: #f5f5f5;
}
table#POITable {
	line-height: 24px;
}
table#POITable tr td {
	font-size: 12px;
	border: none;
	border-bottom: 1px solid #ccc;
}
table#POITable tr td select:hover {
	border-left: 0;
}
.b-collapse-s {
	border-collapse: separate !important;
}
.ui-dialog {
	background: white !important;
}
.coll-button {
	background: #BAC5C6;
	border: 1px solid #BAC5C6;
	color: #212529;
	padding: .9rem;
	margin-right: -5px;
}
#contenttablejqxgrid {
	z-index: 100;
}
ul.checks {
	width: 250px;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
ul.checks li {
	list-style: none;
	width: 90px;
	float: left;
	display: inline;
	padding: 0px;
	padding-top: 0;
}
ul.checks li input {
	float: left;
	width: 20px;
	margin-top: 3px;
}
ul.check_selection {
	width: 400px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	float: left;
}
ul.check_selection li {
	list-style: none;
	width: 400px;
	float: left;
	display: inline;
	padding: 0px;
	padding-top: 0;
	margin-left: 1rem;
}
ul.check_selection li input {
	float: left;
	width: 20px;
	margin-top: 5px;
}
tr.pairs td {
	padding: 3px 10px 3px 0;
	background-color: white;
	border: none;
}
form.keyword {
	margin: 20px 0;
}
table#pairs {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}
table#pairs, th, td {
	border: 1px solid #cdcdcd;
}
.table td, .table th {
	padding: .25rem .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
/* Sortable class for tables, used with /lib/misc/sorttable.js */
.sortable {
	margin: 2px;
	padding: 5px;
	width: 90%;
}
.sortable-container {
	float: left;
	width: 100%;
	border: 1px solid black;
}
.sortable-top {
	padding: 5px;
	width: 100%;
	margin: .5rem;
}
.sortable-container-top {
	float: left;
	width: 100%;
}
.custom-select-sm {
	height: calc(1.5rem + .15rem + 2px);
	padding-top: .25rem;
	padding-bottom: .25rem;
	color: rgba(0, 0, 0, .67);
	padding-left: .5rem;
	font-size: .875rem;
	border: 1px solid #ccc;
	border-radius: .2rem;
	background-color: white;
	width: 100%;
}
.custom-select {
	background-color: white
}
/* Style the arrow inside the select element: */
/*.custom-select:after, */
#clear {
	cursor: pointer;
	position: absolute;
	right: 58px;
	top: 12px;
	margin: 0;
}
.form-control-sm {
	width: 100%;
	border: 1px solid #ccc;
	height: calc(1.15em + .5rem + 2px);
}
#collapseParts .table td, #collapseParts.table th {
	padding: .35rem 1rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
#collapseParts .table th {
	font-weight: 500;
}
#collapseParts .table td, #collapseParts.table th {
	padding: .35rem 1rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
#collapseParts .table th {
	font-weight: 500;
}
#collapseParts .table td, #collapseParts.table th {
	padding: .35rem 1rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}
#collapseParts .table th {
	font-weight: 500;
}
/**********************************************************/
/*Small Form fields--example: Data Entry page *************/
/**********************************************************/
.data-entry-title {
	font-weight: 500;
	font-size: .875rem;
	text-transform: uppercase;
	margin-bottom: 5px;
	line-height: 1.25;
	margin-top: 5px;
	text-align: center;
}
.data-entry-subtitle {
	font-weight: normal;
	font-size: .8rem;
	color: #666;
	margin-bottom: 9px;
	text-align: center;
}
.data-entry-label {
	width: 100%;
	font-size: .875rem;
	border: none;
	padding: 0 .25rem .11rem .25rem;
	font-weight: 450;
	display: block;
}
span.data-entry-label {
	margin-top: 2px;
}
.data-entry-input {
	display: block;
	width: 100%;
	padding: .2rem .5rem;
	color: rgba(0, 0, 0, .8);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	background-color: #fff;
	border-radius: .2rem;
	vertical-align: middle;
	font: 500 .875rem apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 1.15rem;
}
select.data-entry-select option {
	background-color: white !important;
	color: rgba(0, 0, 0, .8);
	padding: .15rem .5rem;
	outline: 0;
}
select.data-entry-select option:focus {
	outline: 0;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-weight: 450;
	color: silver;
}
input::-moz-placeholder { /* Firefox 19+ */
	font-weight: 450;
	color: darkgrey;
}
input:-ms-input-placeholder { /* IE 10+ */
	font-weight: 450;
	color: darkgrey;
}
input:-moz-placeholder { /* Firefox 18- */
	font-weight: 450;
	color: darkgrey;
}
input::placeholder {
	font-weight: 450;
	color: darkgrey;
	opacity: 0.9;
}
.data-entry-input:focus {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
select.data-entry-select {
	display: block;
	width: 100%;
	font: 500 .875rem apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	padding: .15rem .5rem;
	color: rgba(0, 0, 0, .67);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	background-color: white;
	vertical-align: middle;
	border-radius: .2rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	line-height: 1.15rem;
}
data-entry-select:after {
	position: absolute;
	content: "";
	top: .875rem;
	right: .5rem;
	width: 0;
	height: 0;
	border: 6px solid #ccc;
	background-color: #ccc !important;
	border-color: white;
	outline: 0;
}
select.data-entry-select:focus, select.data-entry-select.focus, select.custom-select:focus, select.custom-select.focus, select.data-entry-select option:focus, select.data-entry-select option.focus, select.custom-select option:focus, select.custom-select option.focus {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.data-entry-select:hover, .data-entry-select.hover, .custom-select:hover, .custom-select.hover {
	border: 1px solid #ced4da;
}
.data-entry-prepend-select {
	display: block;
	width: 100%;
	vertical-align: middle;
	color: rgba(0, 0, 0, .67);
	border: 1px solid #ced4da;
	border-right: none;
	background-clip: padding-box;
	background-color: white;
	border-radius: .2rem 0 0 .2rem;
	padding: .14rem .5rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font: 500 .875rem apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.15rem;
}
.data-entry-prepend-select:focus, .data-entry-prepend-select.focus, .data-entry-prepend-select option:focus, .data-entry-prepend-select option.focus {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.data-entry-select-input {
	display: block;
	width: 100%;
	padding: .2rem .5rem;
	color: rgba(0, 0, 0, .8);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	background-color: #fff;
	border-radius: 0 .2rem .2rem 0;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font: 500 .875rem apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.15rem;
}
.data-entry-select-input:active {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.data-entry-select-input:focus, .data-entry-select-input.focus {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.data-entry-select-input:hover, .data-entry-select-input.hover {
	color: #495057;
	background-color: #fff;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.data-entry-addon-input {
	display: block;
	width: 82%;
	padding: .2rem .5rem;
	color: rgba(0, 0, 0, .8);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	background-color: #fff;
	border-radius: .2rem 0 0 .2rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font: 500 .875rem apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.15rem;
}
.data-entry-addon {
	display: block;
	width: 100%;
	color: rgba(0, 0, 0, .6);
	border: 1px solid #ced4da;
	background-clip: padding-box;
	background-color: #f8f9fa;
	border-radius: 0 .2rem .2rem 0;
	padding: .2rem .5rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	font: 500 .875rem apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.15rem;
}
.data-height {
	height: calc(1.15rem + .5rem + 2px) !important;
}
textarea {
	padding-left: .5rem;
	padding-right: .5rem;
	font: 500 .875rem apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.data-entry-textarea { /* Caution: used on autogrow textareas, if changed check that autogrow behavior doesn't break */
	width: 100%;
	height: calc(.875rem + .8rem + 1px);
	border: 1px solid #ced4da;
	font-size: .875rem;
	line-height: 1.5em;
	border-radius: .2rem;
	padding: 2px .5rem;
	display: block;
	background-color: #fff;
	background-clip: padding-box;
	font: 500 .875rem apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.autogrow {
	/* autogrow textareas must have a vertical padding in pixels for
	the autogrow calculation of the height to work correctly,
	otherwise the textareas grow in height with each keystroke.  */
	padding: 2px .5rem;
}
.input-group > .custom-file, .input-group > .custom-select, .input-group > .form-control, .input-group > .form-control-plaintext {
	position: relative;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 1%;
	min-width: 0;
	margin-bottom: 0;
}
.align-left-center {
	text-align: left;
}
.align-right-center {
	text-align: right;
}
.smaller-text {
	font-size: 90%;
}
.border-fill { /* This is for each square on the data entry full form */
	border: 1px solid #bac5c6 !important;
	background-color: #fff;
}
tr.line-top {
	border-top: 2px solid #ccc;
}
tr.line-top:first-child {
	border-top: 2px solid transparent;
}
.loginButtons {
	padding: .2rem .5rem;
	font-size: .78rem;
	line-height: .875rem;
	border-radius: .2rem;
	display: inline-block;
	max-width: 100px;
}
.loginfields {
	padding: 0 .25rem .14rem .25rem;
	line-height: 1.2rem;
	font-size: .875rem;
	margin-bottom: .25rem;
	border: 1px solid #A51C30;
}
.fa-info-circle {
	font-size: 1.05em;
	height: 1.05em;
}
.infoLink {
	cursor: pointer;
	color: #3366cc;
	text-decoration: underline;
}
.infoLink:hover {
	text-decoration: none;
	text-shadow: 1px 1px 1px #eee;
}
.shipments {
	border: 1px solid #bac5c6;
	padding: 1rem;
	margin-bottom: 1rem;
}
.shipments td {
	background-color: white;
}
.permitshipul li, .permitshipul2 li {
	display: inline;
	list-style: none;
}
.fas-info2 {
	position: absolute;
	right: 35px;
	top: 40px;
	color: #036ee0 !important;
}
.nav-tabs .nav-item {
	margin-bottom: -1px;
}
.jqx-grid-column-menubutton {
	border-left: 0;
}
/* TODO: This is causing the Link heading on permit search results to be invisible.  
 * Whatever it is intended as a fix for is breaking that, and probably other tables.
 * Need to fix this .
*/
/****TO DO:  Need to find a way to display/hide column headers when it is an ID or other header that doesn't explain contents ***/
/*#columntablesearchResultsGrid .jqx-widget-header:nth-child(3) {
	color: transparent !important;
}*/
.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: calc(1.5rem + .5rem + 1px);
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	border-radius: .2rem;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
}
.custom-file-label::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	display: block;
	height: calc(1.5rem + .5rem - 1px);
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	color: #495057;
	content: "Browse";
	background-color: #e9ecef;
	border-left: inherit;
	border-radius: 0 .2rem .2rem 0;
}
.fas-info-circle, .fa-info-circle {
	color: #036ee0 !important;
	position: relative;
	top: -3px;
	font-size: .875rem;
}
.smaller {
	font-size: .7em !important;
}
.card-header h3 a.collapsed:before, .card-header h2 a.collapsed:before, .card-header h2 button.collapsed:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: left !important;
	content: "\f067";
	cursor: pointer;
}
.card-header h3 a:before, .card-header h2 a:before, .card-header h2 button:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f068";
	padding-right: 5px;
	float: left !important;
	cursor: pointer;
}
.card-header h2 button.parts:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f068";
	padding-right: 5px;
	float: left !important;
	cursor: pointer;
	color: blue;
}
.card-header button.collapsed span:before, .card-header button.collapsed span:before, .card-header button.collapsed span:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	float: left !important;
	content: "\f067";
	cursor: pointer;
}
.card-header button span:before, .card-header button span:before, .card-header button span:before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f068";
	padding-right: 5px;
	float: left !important;
	cursor: pointer;
}
.card-header h3 a:hover, .card-header h3 a:active, .card-header h3 a:focus {
	text-decoration: none;
}
.nav-link.dropdown-toggle:hover:before {
	transform: rotate(0deg);
}
.nav-link.dropdown-toggle:hover:after {
	transform: rotate(-90deg);
}
.card-body li.list-group-item span:last-child {
	display: none;
}
input#readMore_check_id {
	display: none;
}
.jqx-grid-load {
	background-image: url("../../images/spinner_712_sm.gif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.list-style-disc {
	list-style-type: disc;
}
#overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	opacity: 0.99;
	display: none;
}
.MediaAccordionHide {
	display: block;
}
.MediaAccordionShow {
	display: none;
}
/************tabs -- redone for accessibility  ***************/
.tabpanel {
	margin: 20px;
	padding: 0;
}
.tablist {
	margin: 0 0px;
	padding: 0;
	list-style: none;
}
.panel {
	clear: both;
	display: block;
	margin: 0 0 0 0;
	padding: 10px;
	width: 100%;
	background: #f2f2f2;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
}
.tabs {
	background-color: #3e657d;
}
.tab-content {
	border-top: none;
	border-radius: 0;
	background-color: #f5f5f5;
	margin-bottom: 2px;
	padding: 1rem;
}
.tab-card-header {
	background-color: #3E6F7D;
	padding-top: .5rem;
	border-radius: 6px 6px 0 0;
}
.tab-headers {
	padding: 0 1rem;
}
.tab-headers button {
	font: 400 .9rem Arial;
	padding: 1px 6px;
	border-width: 0;
	border-style: solid;
	border-color: #deebec;
	border-image: initial;
}
.tab-headers button {
	background-color: #f5f5f5;
	padding: .25rem 1rem;
	margin: 0 .25rem 0 0;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.tab-headers button[aria-selected='true'] {
	color: black;
	background-color: #f5f5f5;
	border-top: 3px solid white;
	border-bottom: 1px solid #f5f5f5;
	cursor: pointer;
	box-shadow: none;
	border-right: 1px solid #96ECED;
	border-left: 1px solid #96EcED;
    outline: 0;
}
.tab-headers button[aria-selected='true']:focus {
	border-right: 1px solid rgb(38 143 255 / 50%);
	border-left: 1px solid rgb(38 143 255 / 50%);
	border-top: 3px solid rgb(38 143 255 / 50%);
}
.tab-headers button[aria-selected='false'] {
	color: black;
	background-color: #f5f5f5;
	border-bottom: 1px solid #3e657D;
	border-top: 3px solid #deebec;
	cursor: pointer;
	border-right: 1px solid #deebec;
	border-left: 1px solid #deebec;
}
button[tabindex="-1"]:focus {
	outline: 0!important;
	box-shadow: none;
}
.card-header {
	padding: .9rem 0rem 0rem 0rem;
	padding: .5rem .25rem 0rem .25rem;
}
.accordion .card-header {
	padding: .25rem .5rem;
}
.tab-content div[aria-hidden='true'] {
	display: none;
	outline:0;
}
.tab-content div[aria-hidden='false'] {
	display: block;
}
div[aria-hidden='true'] {
	display: none;
}
div[aria-hidden='false'] {
	display: block;
}
.hidden {
	display: none;
}
.show {
	display:block;
}
a.btn-outline-primary {
	background-color: white;
	padding-bottom: .05rem;
	color: #007bff;
	text-decoration:none;
	font-size: .785rem;
}
a.btn-outline-primary:hover,a.btn-outline-primary:not(:disabled):not(.disabled):active {
	background-color: #007bff;
	text-decoration:none;
	color: white !important;
	padding-bottom: .05rem;
	font-size: .785rem;
}
a.btn-danger {
	background-color: white;
	padding-bottom: .05rem;
	color: #bd2130;
	text-decoration:none;
	font-size: .785rem;
}
a.btn-danger:hover,a.btn-danger:not(:disabled):not(.disabled):active {
	background-color: #bd2130;
	text-decoration:none;
	color: white !important;
	padding-bottom: .05rem;
	font-size: .785rem;
}
.jqx-grid-cell-selected-light a.btn-danger:focus, .jqx-fill-state-pressed a.btn-danger {
	color: #bd2130 !important; 
	text-decoration: none;
}
.jqx-fill-state-pressed a.btn-danger:hover, .jqx-fill-state-pressed a.btn-danger.hover {
	color: #ffffff !important; 
	text-decoration: none;
}
#agentDiv ul {
	font-size: 0.95rem;
}
#citationsDialog_div:empty {
	background-color: lime;display:none;
	
}
th {
	font-weight: 500;
}

/************end tabs -- redone for accessibility  ***************/
/****************end all screen styles*********************/
/**********************************************************/
/*********************************/
/* Device styles below ***********/
/*********************************/
@media only screen and (min-width: 1380px) {
	.cbp-spmenu-push-toleft {
		width: 81%;
		left: 19%;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	.w-350 {
		width: 100%;
	}
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {}
	.step-arrow {
		background-color: #deebec;
		border-bottom: 1px solid #aaa;
	}
}
@media only screen and (max-width: 990px) {
	input#searchText.form-control {
		min-width: auto;
	}
	h1 {
		margin-bottom: 0;
	}
}
@media (min-width:1060px) and (max-width: 1459px) {
	form#regForm.tab {
		display: none;
	}
}
@media (min-width:768px) and (max-width: 1059px) {
	.card_search {
		padding-right: 0;
		padding-left: 0;
	}
}
@media (min-width:1200px) and (max-width: 1700px) {
	#searchHelpTextBlock {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		list-style-type: none;
		font-size: .875rem;
		margin-bottom: 1rem;
	}
	div span.ilt {
		display: block;
		height: 100%;
		text-decoration: none;
		color: black;
		padding-left: 0px;
		position: relative;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
	div span.ilt:hover {
		background: #cdcbc4;
	}
	.readMore {
		position: relative;
		height: auto;
		border-top: 0;
	}
	#searchHelpTextBlock[type="checkbox"] {
		position: absolute;
		left: -9999px;
	}
	label.read {
		background: aliceblue;
		display: block;
		width: 70px;
		cursor: pointer;
		position: relative;
		float: right;
	}
	label.read:before, label.read:after {
		position: absolute;
	}
	label.read:before {
		content: 'More';
		left: 10px;
	}
	label.read:after {
		content: '⇣';
		right: 10px;
		-webkit-animation: sudo .85s linear infinite alternate;
		animation: sudo .85s linear infinite alternate;
	}
	.readMore [type="checkbox"] ~ span.ilt {
		width: 100%;
		display: none;
	}
	.readMore [type="checkbox"]:checked ~ span.ilt {
		display: block;
	}
	.readMore [type="checkbox"]:checked + label.read {
		position: absolute;
		top: 100%;
		right: 0;
	}
	.readMore [type="checkbox"]:checked + label.read:before {
		content: 'Less';
	}
	.readMore [type="checkbox"]:checked + label.read:after {
		content: '⇡';
	}
}
@media screen and (min-width: 68.5333333em) { /*  sizes greater than old iPad  78=  */
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: .35rem;
		-moz-column-gap: .35rem;
		column-gap: .35rem;
		orphans: 1;
		widows: 1;
		column-span: all;
		margin-right: 0px;
		margin-left: 4px;
	}
	.one-column {
		column-count: 1;
		column-gap: 0;
		widows: 1;
		orphans: 1;
		column-span: all;
		margin-left: 4px;
	}
}
@media screen and (max-width: 55.1875em) {
	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 90px;
	}
}
@media screen and (max-height: 26.375em) {
	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}
	.cbp-spmenu-right {
		right: -190px;
	}
}
@media(min-width:768px) {
	.footer-col-4-md {
		margin: 0 auto;
	}
	.hide_button {
		display: none;
	}
	.offset-md-2 {
		margin-left: 12%;
	}
	.data-entry-label {
		line-height: 1;
	}
}
@media(min-width:576px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: .35rem;
		-moz-column-gap: .35rem;
		column-gap: .35rem;
		orphans: 1;
		widows: 1;
		column-span: all;
		margin-right: 0px;
		margin-left: 4px;
	}
	.one-column {
		column-count: 1;
		column-gap: 0;
		widows: 1;
		orphans: 1;
		column-span: all;
		margin-left: 4px;
	}
	.card-body h5 {
		margin-top: -0.25rem;
	}
	.accn-icons {
		float: right;
		margin-top: .25rem;
	}
	#col-multi-select, #collmultiselect2, .ui-multiselect-menu {
		width: 300px;
	}
}
@media(min-width: 1600px) {
	.container {
		max-width: 1540px;
	}
}
@media(min-width: 1800px) {
	.container {
		max-width: 1600px;
	}
}
@media(max-width:1024px) {
	.card-columns {
		column-count: 2;
	}
	.card-body h5 {
		margin-top: -0.5rem;
	}
	.font-dot-8 {
		font-size: 0.8rem;
		text-align: right;
	}
}
@media screen and (min-width:576px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: .35rem;
		-moz-column-gap: .35rem;
		column-gap: .35rem;
		orphans: 1;
		widows: 1;
		column-span: all;
		margin-right: 0px;
		margin-left: 4px;
	}
}
@media(max-width:1023px) {
	.card-columns {
		column-count: 1;
	}
	.card-body h5 {
		margin-top: -0.5rem;
	}
	.font-dot-8 {
		font-size: 0.8rem;
		text-align: right;
	}
}
@media(max-width:767px) {
	.MediaAccordionHide {
		display: none;
	}
	.MediaAccordionShow {
		display: block;
	}
}
@media(max-width:576px) {
	.count {
		display: block;
		line-height: 1rem;
	}
	.align-left-center {
		text-align: center;
	}
	.align-right-center {
		text-align: center;
	}
	.col-form-label {
		padding-bottom: 0;
		line-height: 1;
	}
	.card-columns {
		column-count: 1;
	}
}
@media(max-width:414px) {
	a.btn-sm {
		height: calc(1.5rem + .5rem + 1px);
	}
	#searchbuilder-search.btn-sm, #save-account.btn-sm, #save-fixed-search.btn-sm {
		font-size: .78rem;
		height: 5rem;
	}
}
