/** This file contains Various local style customizations for the header and footer **/
/************************/
/*.menu-div, .bg-light {
	background-color: #f8f9fa;
}*/
.navbar-collapse {
	font-size: .9em;
}
.anchor-button {
	font-size: .9em;
	border:none;
	background-color: transparent;
	text-align: left;
}
.anchor-button:hover {
	background-color:#ddd;
	box-shadow: none;
}
.anchor-button:hover {
	background-color:#ddd;
	box-shadow: none;
}
nav.navbar {
	padding: 0 1em;
}
nav.navbar-nav .nav-item a {
	font-weight: 600;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #000000;
	text-decoration: none;
	display: block;
	padding: .9em 2em .9em 1em;
}
nav.navbar-nav .nav-item a:hover {
	font-weight: 600;
	margin: 0;
	text-decoration: none;
	display: block;
	background-color: #f1f2f4;
	padding: .9em 2em .9em 1em;
}
nav .navbar-nav li a.nav-link {
	display: block;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
	/*max-width: 15em;*/
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	background-color: #ebebeb;
}
.dropdown-menu {
/*	width: 16em;*/
	padding: 0;
	margin-left: 1px;
	margin-top: -1px;
	background-color: #f8f9fa !important;
	border: 1px solid #f5f5f5;
}
.dropdown-menu a.dropdown-item {
	font-size: .9em;
	border: 1px solid aliceblue;
}
.dropdown-item {
	padding: .25em .5em;
	color: rgba(0, 0, 0, .7);
}
.dropdown-menu a.dropdown-item:hover {
	background-color: #ddd;
	color: #000;
	width: 100%;
}
.dropdown:hover .dropdown-menu {
	display: block;
}
.navbar-nav li.show, .navbar-nav li:show, .navbar-nav li.show:hover {
	text-decoration: none;
	background-color: #ddd;
}
.navbar-light .navbar-nav li.active > .nav-link, .navbar-light .navbar-nav .nav-link.active {
	border-right: 2px solid transparent;
	border-left: 2px solid transparent;
}
.navbar-light .navbar-nav li.active > .nav-link, .navbar-light .navbar-nav .nav-link.active {
	color: #000000;
	background-color: #ffffff;
	border-right: 2px solid aliceblue;
	border-left: 2px solid aliceblue;
}
.dropdown-item:active, .dropdown-item.active {
	background-color: #ffffff;
	color: #000000;
}
.dropdown-item:active:hover, .dropdown-item.active:hover, .dropdown-menu a:hover {
	background-color: #dddddd;
	color: #000;
}
.navbar-toggler {
	line-height: .9em;
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: .87em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}
.mczbase a span {
	font-size: smaller;
} /*This is for the "base" of MCZbase*/
.branding-container {
	background-color: #1b1b1b;
}
.harvard_banner {
	background-color: #a51c30;
	margin-block-end: 0;
	padding: 0 0 0 1em;
}
.branding {
	color: white;
}
.branding-left {
	float: left;
	margin: 0 0 0 15px;
}
.branding-right {
	float: right;
	line-height: 26px;
	margin: 0 15px 0 0;
}
.branding a {
	color: white;
}
.branding a:hover {
	text-decoration: none;
	border-bottom: 1px dotted white;
}
img.shield {
	width: 19px;
	height: 19px;
}
.mcz2 {
	list-style: none;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
	line-height: .9em;
	padding-bottom: 0;
	padding-top: .25em;
}
.mcz2 a {
	color: white;
}
.mcz2 a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}
.mczbase {
	list-style: none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: .02em;
	font-weight: 400;
	font-size: 1em;
	line-height: 1em;
}
.mczbase a:hover {
	color: white;
	text-decoration: none;
	/*border-bottom: 1px dotted white;*/
}
.mcz_logo_krono {
	padding-left: 1em;
	margin-left: 0;
}
nav.navbar-harvard {
	background-color: #a51c30 !important;
}
nav.navbar-harvard li {
	color: white;
}
.dropdown-menu {
	/*min-width: 13em;*/
	top: 104%;
}
nav button {
	border: none;
	background-color: #f8f9fa;
}
.nav-fill .nav-item {
	text-align: left;
}
.navbar-light .navbar-nav .nav-link {
	color: rgba(0, 0, 0, .7);
}
.navbar-nav li:hover > ul.dropdown-menu {
	display: block;
}
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: 0px;
}
.dropdown-menu > li > a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
}
.headerCollectionTextSmall {
	font-size: smaller;
}
.loginButtons {
	padding: 5px 6px 4px 6px;
	font-size: .78rem;
	line-height: 1em;
	border-radius: .2rem;
	display:inline-block;
	border: 1px solid #ddd;
}
.logout {
	padding: 0 .5em .1em .5em;
    font-size: .9em;
	font-weight: 500;
	position: absolute;
	right: 15px;
	top:3px;
}
.footer {
	line-height: 1em;
}
.footer-colr-md-6 {
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.copyright_background {
	padding: .75em 0 20px 0;
	background-color: #BAC5C6;
	width: 100%;
	align-content: center;
	border-top: 1px solid #333;
	margin: 0 0 0 0;
}
.footer .bg-inverse {
	z-index: 1;
	position: relative;
	width: 100%;
	background-color: #f8f9fa !important;
	padding: 0;
	overflow: hidden;
}
.copyright-bottom {
	margin: 0 auto;
	padding: 15px;
	color: white;
	line-height: 17px;
}
.agreements {
	text-align: right;
	margin-top: -.5em;
	font-size: 1em;
	line-height: 1.5em;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 48px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
body > .container {
	padding: 30px 15px 0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.copyright_background a.policy_link {
	color: #004870;
	text-decoration: none !important;
}
.copyright_background a.policy_link:link {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:visited {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:hover {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:active {
	color: #004870;
	text-decoration: none;
}
.ui-icon.ui-icon-triangle-2-n-s {
	background-position: -124px -16px;
}
.helplinks a {
	font-weight: 600;
	color: #046aa2 !important;
	line-height: 2.2em;
}
.headerCollectionTextSmall {
	font-size: smaller;
}
.color-green {
	color: #006100;
}
/*.logout-style {
	position:absolute;
	top:2px;
	right: 8px;
}*/
.login-form {
	position: absolute;
	top: 4px;
	right: 5px;
}
.nav-link {
    display: block;
    padding: .25rem 1rem;
}
input#Username {
	width: 105px;
}
input#Password {
	width: 70px;
}
@media only screen and (max-width: 990px) {
	nav.navbar {
/*		padding-top: .5em;
		padding-bottom: .5em;*/
	}
}
@media(min-width:991px) {
	.mcz-center {
		justify-content: flex-start;
		margin-left: -1em;
	}
	.footer-col-4-md {
		width: 392px;
		align-content: center;
		margin: 0 auto;
	}
	.footer-col-4-md img {
		width: 400px;
	}
}
@media (min-width:1060px) and (max-width: 1459px) {
	.mcz-center {
		justify-content: center;
		text-align: center;
	}
}
@media(min-width:768px) {
	.footer-col-4-md {
		margin: 0 auto;
	}
	.hide_button {
		display: none;
	}
	.mcz {
		font-size: 1.5em;
	}
	.mcz-center {
		justify-content: center;
		padding-top: 1em;
	}
	img.mcz_logo_krono {
		margin-left: 1.75em;
	}
	.mcz2 {
		width: 100%;
		padding-bottom: 0;
		
	}
	.mcz2 a {
		color: white;
		text-decoration: none;
		font-size: .94em;
	}
	.mczbase {
		letter-spacing: .02em;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.mczbase a {
		color: white;
		text-decoration: none;
		font-size: .9em;
		display: block;
	}
	img.mcz_logo_krono {
		display: block;
		margin-right: .75em;
	}
}
@media(min-width:576px) {
	.mcz {
		font-size: 1.5em;
		opacity: .9;
		font-weight: bold;
	}
	.mcz-center {
		justify-content: flex-start;
		padding-top: 1em;
		text-align: left;
	}
	.mcz_logo_krono {
		margin-left: 1.75em;
	}
}
@media(max-width:1024px) {
	.mcz_logo_krono {
		display: none;
	}
	.mczbase a {
		color: white;
	}
}
@media(max-width:575px){
/*	.loginButtons {
	padding: 3px 5px 3px 5px;
	font-size: .78rem;
	line-height: 1.15em;
	border-radius: .2rem;
}*/
}