/** This file contains Various local style customizations for the header and footer **/
/************************/
/*.menu-div, .bg-light {
	background-color: #f8f9fa;
}*/ :focus:not(:focus-visible) {
	outline: 0;
}
:focus {
	outline: #ccc auto 1px;
	border: 1px solid rgba(0, 34, 51, 0.1);
	border: none;
	box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
}
.anchor-button {
	font-size: .9em;
	border: none;
	background-color: transparent;
	text-align: left;
}
.anchor-button:hover {
	background-color: #ddd;
	box-shadow: none;
}
.bg-black {
	background-color: #1b1b1b;
}
.anchor-button:hover {
	background-color: #ddd;
	box-shadow: none;
}
nav.navbar {
	padding: 0 1em;
	font-size: .9em;
}
.dropdown-item {
	font-size: .9em;
}

/*  moved styles  */
#main_nav {
	font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
nav {
	display: block;
	text-align: left;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dropdown-menu {
	padding: 0 0 .25em 0;
}
ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover, ul li ul:focus {
	visibility: visible;
	opacity: 1;
	display: block;
}

.navbar-nav .navbar-nav > li:active {
	border-bottom: 2px #deebec solid;
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #deebec;
	color: rgba(0, 0, 0, .7);
}
.navbar-light .navbar-nav .active>.nav-link {
    color: rgba(0,0,0,.9);
	background-color: white;
}
.navbar-light .navbar-nav li > .nav-link{
	background-color:#F8F9Fa;
}
.navbar-light .navbar-nav li.active .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
	background-color: white;
}
.navbar-nav > li:hover > ul {
	background-color: #fff;
}
ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover, ul li ul:focus {
	background-color: #fff;
}
.nav-menu > li > a:first-child:nth-last-child(2):before {
	border-top-color: rgba(0, 0, 0, .7);
}
.dropdown-menu {
	margin: -.02em 0 0 0;
}
.dropdown-submenu {
	position: relative;
}
.dropdown-item {
	padding: .25em 1em;
}
.dropdown-submenu > .dropdown-menu {
	top: 0px;
	left: 100%;
	margin-top: 0px;
	margin-left: 0px;
}
.dropdown-divider {
	height: 0;
	overflow: hidden;
	margin: 0;
	border-top: 1px solid #e9ecef;
}
.logout {
	padding: 0 .45em;
	font-size: 83%;
	font-weight: bold;
	position: relative;
	font-family: Arial narrow, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	letter-spacing: .02em;
}


@media (min-width: 992px) {
	.dropdown-menu {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}
@media (max-width:991px) {
	ul {
		display: block;
		list-style-type: none;
		margin-block-start: 0em;
		margin-block-end: 0em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		padding-inline-start: 0px;
	}
	.navbar-light  .navbar-nav li {padding: 10px;}
	.logout {
		padding: .14em .45em;
		font-size: .88em;
		font-weight: bold;
		position: absolute;
		right: 1em;
		top: 3px;
		top: 7px;
		font-family: Arial narrow, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
		letter-spacing: .02em;
	}
	.login-form {
		position: absolute;
		top: 2px;
		right: 1em;
	}
	.navbar-light .navbar-nav li > .nav-link{
		background-color:#F8F9Fa;
	}
	.navbar-light .navbar-nav li.active .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
		background-color: white;
	}
	.navbar-nav > li:hover > ul {
		background-color: #fff;
	}
	ul li:hover > ul, ul li:focus-within > ul, ul li ul:hover, ul li ul:focus {
		background-color: #deebec;
	}
}

.navbar-toggler-icon {
	display: inline-block;
	width: 1em;
	height: .87em;
	vertical-align: middle;
	content: "";
	background: no-repeat center center;
	background-size: 100% 100%;
}
.mczbase a span {
	font-size: smaller;
}
/*This is for the "base" of MCZbase*/
.branding-container {
	background-color: #1b1b1b;
}
.harvard_banner {
	background-color: #a51c30;
	margin-block-end: 0;
	padding: 0 0 0 1em;
}
.branding {
	color: white;
}
.branding-left {
	float: left;
	margin: 0 0 0 15px;
}
.branding-right {
	float: right;
	line-height: 26px;
	margin: 0 15px 0 0;
}
.branding a {
	color: white;
}
.branding a:hover {
	text-decoration: none;
	border-bottom: 1px dotted white;
}
img.shield {
	width: 19px;
	height: 19px;
}
.mcz2 {
	list-style: none;
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif';
	line-height: .9em;
	padding-bottom: 0;
	padding-top: .25em;
}
.mcz2 a {
	color: white;
}
.mcz2 a:hover {
	color: white;
	text-decoration: none;
	border-bottom: 1px dotted white;
}
.mczbase {
	list-style: none;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: .02em;
	font-weight: 400;
	font-size: .9em;
	line-height: 1em;
}
.mczbase a:hover {
	color: white;
	text-decoration: none;
}
.mcz_logo_krono {
	padding-left: 1em;
	margin-left: 0;
}
nav.navbar-harvard {
	background-color: #a51c30 !important;
}
nav.navbar-harvard li {
	color: white;
}
.dropdown-menu {
	top: 104%;
}
nav button {
	border: none;
	background-color: #f8f9fa;
}
.nav-fill .nav-item {
	text-align: left;
}
.headerCollectionTextSmall {
	font-size: smaller;
}
.loginButtons {
	padding: 5px 6px 4px 6px;
	font-size: .78rem;
	line-height: 1em;
	border-radius: .2rem;
	display: inline-block;
	border: 1px solid #ddd;
}
.footer {
	line-height: 1em;
}
.footer-colr-md-6 {
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
.copyright_background {
	padding: .75em 0 20px 0;
	background-color: #BAC5C6;
	width: 100%;
	align-content: center;
	border-top: 1px solid #333;
	margin: 0 0 0 0;
}
.footer .bg-inverse {
	z-index: 1;
	position: relative;
	width: 100%;
	background-color: #f8f9fa !important;
	padding: 0;
	overflow: hidden;
}
.copyright-bottom {
	margin: 0 auto;
	padding: 15px;
	color: white;
	line-height: 17px;
}
.agreements {
	text-align: right;
	margin-top: -.5em;
	font-size: 1em;
	line-height: 1.5em;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 48px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
body > .container {
	padding: 30px 15px 0;
}
.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}
.copyright_background a.policy_link {
	color: #004870;
	text-decoration: none !important;
}
.copyright_background a.policy_link:link {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:visited {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:hover {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:active {
	color: #004870;
	text-decoration: none;
}
.copyright_background a.policy_link:focus {
	color: #004870;
	text-decoration: none;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.ui-icon.ui-icon-triangle-2-n-s {
	background-position: -124px -16px;
}
.helplinks a {
	font-weight: 600;
	color: #046aa2 !important;
	line-height: 2.2em;
	padding: .15em .4em;
}
.helplinks a:hover {
	padding: .15em .4em;
	border-color: transparent;
}
.helplinks a:focus {
	padding: .15em .4em;
	border-color: #ced4da;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}
.headerCollectionTextSmall {
	font-size: smaller;
}
.color-green {
	color: #006100;
}
/*.logout-style {
	position:absolute;
	top:2px;
	right: 8px;
}*/
.nav-link {
	display: block;
	padding: .25rem 1rem;
}
input#Username {
	width: 100px;
}
input#Password {
	width: 75px;
}
@media only screen and (max-width: 990px) {
	/*	.logout {
	padding: 0.3em .45em;
}*/
}
@media(min-width:991px) {
	.mcz-center {
		justify-content: flex-start;
		margin-left: -1em;
	}
	.footer-col-4-md {
		width: 392px;
		align-content: center;
		margin: 0 auto;
	}
	.footer-col-4-md img {
		width: 400px;
	}
}
@media (min-width:1060px) and (max-width: 1459px) {
	.mcz-center {
		justify-content: center;
		text-align: center;
	}
}
@media(min-width:768px) {
	.footer-col-4-md {
		margin: 0 auto;
	}
	.hide_button {
		display: none;
	}
	.mcz {
		font-size: 1.5em;
	}
	.mcz-center {
		justify-content: center;
		padding-top: 1em;
	}
	img.mcz_logo_krono {
		margin-left: 1.75em;
	}
	.mcz2 {
		width: 100%;
		padding-bottom: 0;
	}
	.mcz2 a {
		color: white;
		text-decoration: none;
		font-size: .94em;
	}
	.mczbase {
		letter-spacing: .02em;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.mczbase a {
		color: white;
		text-decoration: none;
		font-size: 1em;
		display: block;
	}
	img.mcz_logo_krono {
		display: block;
		margin-right: .75em;
	}
}
@media(min-width:576px) {
	.mcz {
		font-size: 1.5em;
		opacity: .9;
		font-weight: bold;
	}
	.mcz-center {
		justify-content: flex-start;
		padding-top: 1em;
		text-align: left;
	}
	.mcz_logo_krono {
		margin-left: 1.75em;
	}
}
@media(max-width:1024px) {
	.mcz_logo_krono {
		display: none;
	}
	.mczbase a {
		color: white;
	}
}
@media(max-width:575px) {
	/*	.loginButtons {
	padding: 3px 5px 3px 5px;
	font-size: .78rem;
	line-height: 1.15em;
	border-radius: .2rem;
}*/
	.file-os-file-medium {
		max-width: 350px;
	}
}