input {
        width: auto;
}
input.reqdClr {
        width: auto;
}
#loadingAnimation{
	position:fixed;
	top:50%;
	left:40%;
	padding:5px;
	z-index:2001;
}
label {
	display:inline;
	font-size:11px;
	font-weight:400;
	padding-right:.01em;
}
#loadedMsgDiv{display:none;}
.isGoodEdit {
	background-color:#00CCCC;
}
.isBadEdit, isBadEdit tr:nth-child(even) {
        background-color: #FF6EC7;
        background-color: #B58AA5;
        background: #b58aa5; /* Old browsers */
}
.isBadEdit, isBadEdit tr:nth-child(odd) {
        background: #b8d1f3;
        background: #cecece;
        background: #d5b9ca;
        background: #b58aa5; /* Old browsers */
        background: -moz-linear-gradient(top, #b58aa5 58%, #d5b9ca 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(58%, #b58aa5), color-stop(100%, #d5b9ca)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #b58aa5 58%, #d5b9ca 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #b58aa5 58%, #d5b9ca 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #b58aa5 58%, #d5b9ca 100%); /* IE10+ */
        background: linear-gradient(to bottom, #b58aa5 58%, #d5b9ca 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b58aa5', endColorstr='#d5b9ca', GradientType=0 ); /* IE6-9 */
}
.isEnter {
	border:none;
	background-color:#bed88f;
}

#msg {
	position:fixed;
	bottom:0;
	z-index:10000;
	text-align:center;
	font-size:small;
	width:100%;
	border:2px solid black;
	background-color:white;
}
.bad{
    color:red;
}
.good{
    color:green;
}
input, select {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding:0px;
	margin:0px;
}
.firstOfRow {
    float: left;
    width: 100px;
}

.noShow {
	display:none;
}
.doShow {
	/* normal */
}
.f11a {font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:2px;
}
.hasProbs {
	background-color:#FF0000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}
input:focus, textarea:focus, select:focus {
	border: 2px solid #FFFF00;
}
.fs {
	border: 2px ridge #669999;
	width:100%;
	padding:1px;
	margin:1px;
}

.err {
	width:100%;
	text-align:center;
	border:1px solid red;
	font-size:small;
}
.f11b {
        float: left;
        padding-right: 1em;
        padding-left: 1em;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-right: 2px;
        padding-top: 1em;
}

table.collector input.reqdClr {
        width: 142px;
}
table.collector select.reqdClr {
        width: 80px;
}
table.geotable select {
        width: 110px;
}
textarea {
        margin: 0 4px;
}
/*** Below: Used for Part Attribute button and popup  ***/
input.part_at {
        width: 83px;
        float: left;
        display: inline;
}
.div1 ul {
        width: 560px;
        margin: 0;
        padding: 0;
        overflow: hidden;
}
.div1 ul li {
        display: inline;
        font-size: 10px;
        float: left;
        width: 84px;
        margin: 2px 9px 5px 0px;
}
a.part_att_btn {
        font-size: 12px;
        font-weight: bold;
        color: #666;
        background-color:#a9c9fd;
        display: block;
        padding: 1px 5px;
        margin: 3px 5px;
        border: 1px solid #666;
        cursor:pointer;
        text-align:center;
        width: auto;
}
table.bottom_band {
        padding-bottom: 5px;
}
/*** Above: Used for Part Attribute button and popup  ***/
