html {line-height: 1;}
body {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	overflow-x:hidden;
}
h1 {
	font-size: 1.5em;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover {
	color: #838179;
}
.navbar-toggleable-md .navbar-nav {
	padding-top: 20px;
	font-size: 1.1em;
}
.navbar-inverse .navbar-nav .nav-link, .navbar-inverse .navbar-nav .dropdown .nav-link {
	color: white;
}
.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
	color: #faf1a2;
}
.navbar-inverse .navbar-nav .nav-link.disabled {
	color: #BAC5C6;
}
.navbar-inverse .navbar-nav .open > .nav-link, .navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .nav-link.active {
	color: #f3f3f1;
}
.helplinks {
	width: 90%;
}
.helplinks a {
	width: 30%;
	position: relative;
	text-align: center;
	line-height: 1em;
	float: right;
	font-weight: 600;
}
.dropdown-menu a:hover {
	color: #8996A0; 
}
.footer .bg-inverse {
	z-index: 1;
	position: relative;
	width: 100%;
	background-color: #fff !important;
	padding: .9em 0 0 0;
	overflow: hidden;
}
.footer .copyright {
	width: 100%;
	padding: .25em 0 .75em 0;
	font-size: 0.8em;
	align-content: center;
	line-height: 1em;margin: 0 0 1em 0;
	font-family: arial, Myriad Pro;font-size:12px;
	background-color: #BAC5C6;
	border-bottom: 1px solid #8C8179;
}
.footer .copyright img {
	width: 42px;
	margin-right: 5px;
	float: left;
}
.footer .copyright p {
	margin-bottom: 0em;
	line-height: 1.2em;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	letter-spacing: .01em;
	font-weight: 520;
}
.footer .copyright a {
	line-height: 1em;
	margin-top: 0;
}
.footer .logos {
	width: 100%;
	margin-top: 2em;
	text-align: center;
	background-color: #ccc;
	padding: .5em 0 .25em 0;
	border-top: 1px solid #8c8179;
}

.footer .logos a img {
	margin: 0 .75em .5em .75em;
	height: 30px;
}
.footer .logos img.harvard_logo {height: 55px;}
.footer .logos img.arctos_logo {
	height: 33px;
	height: 32px;
}
.footer .logos img.eol_logo {
	height: 31px;
}
.footer .logos img.gbif_logo {height: 33px;}
.footer p.tagline {
	line-height: 1em;
	font-size: 0.725em;
	margin-top: -1em;
	letter-spacing: .02em;
	text-align: center;
	padding: 1em;
	font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 450;
	margin-bottom: .5em;
}
.container-fluid-helper {
	top: 86px;
	width: 100%;
	min-height: 603px;
}
.navbar .collapse {
	visibility:visible;
}
.navbar .show {
	visibility: visible;
}

ul.filters {width: 100%;}
.filters li {list-style:none;display:inline-block;float:left;width: 100px;margin-right: 1.5em;line-height: 1.2em;vertical-align: bottom;}
.dropdown-menu {
    top: 50px;
    left: inherit;
    min-width: 15rem;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    background-color: #1e1e1e;
    border-radius: 0.7rem;
}
.dropdown-menu a {
	padding: .65em .75em; 
	text-decoration: none;
	display:block;
	color: #BAC5C6;
}
.navbar-toggleable-md.bg-inverse {
	background: #1e1e1e; /* Old browsers */
	background: -moz-linear-gradient(top, #a51c30 0%, #a51c30 22%, #1e1e1e 22%, #1e1e1e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a51c30 0%, #a51c30 22%, #1e1e1e 22%, #1e1e1e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a51c30 0%, #a51c30 22%, #1e1e1e 22%, #1e1e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51c30', endColorstr='#1e1e1e', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000000;
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
/*	opacity: .94;*/
}
 .navbar-brand {
	cursor: pointer;
	height: 72px;
	 width: 30%;
	 width: 50%;
}
.navbar-brand img {
	width: 121px;
	position: relative;
	z-index: 3;
	 margin-top:-.5em;
	 margin-left: -1em;
}
img.navbar-brandH {
	width: auto;
	height: 65px;
	top: 11px;
	position:absolute;
	left: 14px;
	z-index: 3;	
}
.shield-container {
	position:absolute; 
	width:100%;
	height: 100%;
	top:0;
}
div.navbar-harvard-toggle { 
	display: block; 
	margin: 0 auto; 
	text-align: center;
	vertical-align: bottom;
	position:relative;
	text-align: right;
	top:0px;
	padding:0 2.5em;
}
.navbar-harvard-toggle img {
	text-align:center;
	float:right;
	width: 60px;
	margin-top: 0px;
}
img.navbar-brandK{width: auto;
	width: 140px;
	top: 2.2em;
	position:absolute;
	left: 3.8em;
	z-index: 3;	
	opacity: .8;
}
.navbar-brand span.navbar-text {
    -webkit-text-shadow: 0px 1px 1px 5px rgba(140, 129, 241, 0.5);
    -moz-text-shadow: 0px 1px 1px 5px rgba(140, 129, 241, 0.5);
    text-shadow: 0px 1px 1px 5px rgba(140, 129, 241, 0.5);
    font-size: .9em;
    color: #8C8179;
	color: whitesmoke;
    z-index: 3;
	line-height: 1em;
	letter-spacing: 0.03em;
    left: 3em;
	text-align: center;
	margin:0; 
	padding: 0;
	position: absolute;
	top:4em;
}
ul.filters {
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.navbar-toggler {z-index: 7;}

.navbar-inverse .navbar-toggler {
	top: 1rem;
	position: absolute;
}
.navbar-inverse .navbar-toggler .collapse {
	top: 2.9rem;
	position: absolute;
	top: 1.5em;
}
.footer .bg-inverse {
	z-index: 1;
	position: relative;
	width: 100%;
	background-color: #fff !important;
	padding: .9em 0 0 0;
	overflow: hidden;
}
.sidbar-nav2 h3 {
	float: right;
}
.card p {
	line-height: 1.2em;
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	width: 100%;
}
.btn-outline-secondary {
    color: #636c72;
    background-image: none;
    background-color: transparent;
    border-color: #ccc;
}
#wrapper.toggled #sidebar-wrapper {
	width: 0;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 10px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-left: -265px;
}

.navbar-toggleable-md .navbar-collapse {
	margin-top: -5px !important;
	width: 100%;
}
a.navbar-brand {
	overflow:hidden;
}
#sidebar-wrapper {
    top: 70px;
}
.nav-item h3 {
	margin-left: 20px;
	font-size: 1.4em;
	margin-top: .5em;
}
.album {background-image: url("http://www.spacesaver.com/wp-content/uploads/2016/07/spacesaver-compactors-museum-cabinets.jpg")}
.jumbotron {
	margin-bottom: 0.5em;
	padding: 3rem 2rem 1rem 2rem;
}
.box-shadow { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
	padding: .5em; 
}
main {
	clear: both;
    top: 32px;
    position: relative;
}
small.text-muted {
	padding-left:3px;
}
.panel {
	margin-top:1em;
	padding-top: .5em;border:none}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: transparent;
    border-color: #fff;
    text-align: center;
}
.panel-login {
	border-color: #ccc;
}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: transparent;
	border-color: #fff;
	text-align:center !important;
}
.panel-login>.panel-heading a{
	text-decoration: underline;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
	font-weight: bold;
}
a #login-form-link {
	text-align:right;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 35px;
	border: 1px solid #ddd;
	font-size: 14px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.panel-heading .row:before{display:table; content:"";}
.panel-heading .row:after{display:table; content:"";}
.navbar-expand-lg .navbar-toggler-icon {font-size: .8em;} 
.jumbotron p.lead {font-size: 1.1em;}


@media(max-width:991px) {
.navbar-toggleable-md .navbar-nav .nav-link {padding-right: .5em;}
div.navbar-harvard-toggle {padding-right: 8em;}
.navbar-inverse .navbar-toggler {top: 2rem;}
 .navbar-brand {
	 width: 30%;
}
}



@media(min-width:1200px) {
.navbar-toggleable-md .navbar-nav .nav-link {padding-right: 1rem;}

}

@media(min-width:768px) {
#page-content-wrapper {padding: 1.5rem;position: relative;top:50px;}

 .navbar-brand {
	 width: 38%;
}
	
}
@media (min-width: 992px) {
	 .navbar-brand {
	 width: 44%;
}
}
@media(min-width:576px){
.container-fluid-helper {top: 56px;width: 100%;min-height: 603px;padding:0 1rem;}
}

@media (max-width: 767px) {
.navbar-inverse .navbar-toggler {top: 1.5rem;position: absolute;	margin-right: 0px;border: 1px solid gray;}
.navbar-brand .toggler {margin-right:20px;}
		.navbar {padding-top:2em;}
	.col-md-4 {width: 50%;}
.navbar-harvard-toggle img {text-align:center;width: 50px;float:none;margin-top: 0;margin-left: 2.5em;}
.footer .logos {margin-top: 3em;}
#page-content-wrapper {padding: 5px;position: relative; top: 50px;}
.footer .logos a img {height: 28px;}
.footer .logos a img.harvard_logo {height: 55px;}
.footer .logos a img.eol_logo {height: 25px;}
.footer .logos a img.arctos_logo {height:29px;}
.footer p.tagline {font-size:13px;padding: 12px 20px 5px 20px;}
.navbar-toggleable-md.bg-inverse {
	background-color: #1e1e1e;
	background: -moz-linear-gradient(top, #a51c30 0%, #a51c30 14%, #1e1e1e 14%, #1e1e1e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a51c30 0%, #a51c30 14%, #1e1e1e 14%, #1e1e1e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a51c30 0%, #a51c30 14%, #1e1e1e 14%, #1e1e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51c30', endColorstr='#1e1e1e', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000000;
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);}
.navbar {padding-top:0;}
	.navbar-brand {width: 33%;}
	.navbar-harvard-toggle {}
	.navbar-harvard-toggle img {width:40px;margin-top: 5px;display:none;}
img.navbar-brandK{
	top: 1.62em;
	left: 2.4em;
}
.navbar-brand span.navbar-text {
	left: 1.5em;
	top: 3.5em;
}
	#page-content-wrapper {padding: 1.5rem;position: relative;top:50px;}
}
@media(max-width: 768px){
}
@media (min-width: 600px){
}
@media(max-width:599px) {
	option span.label {padding-right: 2em;display: block;}
}
@media(max-width:414px) {
.helplinks {width: 100%;}
.helplinks a {width: 100%;line-height: 1.5em;}
.footer .logos {margin-top: 5em;}

.footer .logos a img {height: 28px;}
.footer .logos a img.harvard_logo {height: 55px;}
.footer .logos a img.eol_logo {height: 25px;}
.footer .logos a img.arctos_logo {height:29px;}
.footer p.tagline {padding: 12px 20px 5px 20px;font-size: 11px;}
#wrapper.toggled.sidebar-nav i {visibility: hidden;}
#wrapper.toggled span {	visibility: visible; position: relative; left: 83px;}
.footer .fixed_bottom {position:absolute; bottom: 0;clear:both;}
.container-fluid-helper {left:14px;}
ul.filters {width: 150%;}
.col-md-4 {width: 100%;}
.filters li {list-style:none;display:block;float:left;width:73px;margin-right: .25em;line-height: 1.2em;vertical-align: bottom;}
	/*.navbar-toggleable-md .show {font-size: smaller;}*/
.navbar-toggleable-md.bg-inverse {
	background-color: #1e1e1e;
	background: -moz-linear-gradient(top, #a51c30 0%, #a51c30 12%, #1e1e1e 12%, #1e1e1e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #a51c30 0%, #a51c30 12%, #1e1e1e 12%, #1e1e1e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #a51c30 0%, #a51c30 12%, #1e1e1e 12%, #1e1e1e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51c30', endColorstr='#1e1e1e', GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #000000;
	-webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.15);}
	
div.navbar-harvard-toggle { 
	display: block; 
	margin: 0 auto; 
	text-align: center;
	position:relative;
	text-align: right;
	top:0px;
	padding:0 6em 0 0;
}
.navbar-harvard-toggle img {
	text-align:center;
	float:right;
	width: 40px;
	margin-top: 0px;
}
	.navbar-harvard-toggle img {width:19px;margin-top:6px;display:none;}
#page-content-wrapper {padding: .25em;position: relative;top:50px;}
}







