/*\/\/\/\/\*/
/*CSS STYLES -- MCZ on All Servers */
/*\/\/\/\/\*/

.ac_results {
	border: 1px solid gray;
	background-color: white;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	font-size: smaller;
}
.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	color: #101010;
	text-align: left;
}
.ac_over {
	cursor: pointer;
	background-color: #F0F0B8;
}
.ac_match {
	text-decoration: underline;
	color: black;
}
div.secDiv input {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
}
select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
}
.smallBtn {
	color: #666666;
	font-size: .9em;
	font-weight: bold;
	background-color: #99CCFF;
	border: 1px solid #336666;
}
span#theNewButton input.insBtn {
	padding: 3px 4px 1px 4px;
	font-size: 12px;
}
.smallBtn:hover {
	color: red;
	cursor: pointer;
}
.loginTxt {
	font-size: .7em;
}
.helpLink {
	cursor: pointer;
	text-align: right;
	color: #114bc7;
}
.helpLink:hover {
	color: #CC0000;
	text-decoration: underline;
}
.docSrchTip {
	font-size: smaller;
	padding-left: 5px;
	padding-top: 5px;
}
.docDef {
	font-size: smaller;
	padding-left: 5px;
}
.docMoreInfo {
	font-size: smaller;
}
.docControl {
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid red;
	background-color: gray;
	z-index: 101;
	cursor: pointer;
	padding: 1px;
	font-size: .7em;
}
.docTitle {
	font-weight: bold;
	padding-right: 20px;
	font-size: smaller;
}
.helpBox {
	border: 1px solid green;
	padding: 5px;
	background-color: #99C68E;
	max-width: 20em;
	padding: .1em;
}
.sscustomBox {
	border: 3px solid green;
	z-index: 9999;
	position: absolute;
	top: 5%;
	left: 5%;
	background-color: white;
	max-width: 80em;
}
.secDiv {
	border: 1px solid green;
	width: 50em;
	margin-left: 0;
}
div.secDiv {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 3px;
	width: 900px;
}
td.checkboxS {
	padding-left: 0;
	padding-bottom: 7px;
}
.tenSearch {
	font-size: 14px;
}
.secHead {
	background-color: lightgrey;
	padding: 1px 5px;
}
.secLabel {
	float: left;
	font-weight: bold;
}
.secControl, .infoLink a:visited {
	float: right;
	padding-right: 1em;
	cursor: pointer;
	color: #2B547E;
	font-size: .64em;
	font-weight: bold;
}
.secControl:hover {
	color: #FF0000;
	text-decoration: underline;
}
.gmaps {
	width: 260px;
	font-size: 13px;
}
table.ssrch {
	width: 100%;
}
td.lbl {
	width: 15em;
	text-align: right;
	padding-right: 5px;
}
.detailBlock {
}
.innerDetailLabel {
	color: #000000;
	font-weight: normal;
}
.one_thumb_box {
	float: left;
    width: 162px;
    padding: 10px 5px 5px 5px;
    height: 182px;
    overflow: hidden;
    text-align: center;
	border: 1px solid #dedede;
	background-color: #ebebeb;
	margin-right: 5px;
	margin-top: 5px;
	font-size: .8em;
}
/*.detailData {
	margin-left: -10px;
}*/
.detailCellSmall {
	font-size: .6em;
	font-weight: normal;
	color: #444444;
}
.detailCell {
	border: 1px dotted gray;
	text-align: left;
	padding: 2px 3px 3px 15px;
	position: relative;
	margin: 1px 6px 12px 2px;
}
.detailLabel {
	margin: 1px 0px 1px -11px;
	position: relative;
	color: #6a6a6a;
	font-size: 1em;
}
.detailEditCell {
	float: right;
	right: 2px;
	top: 0px;
	position: absolute;
	cursor: pointer;
	color: #2B547E;
	font-size: .6em;
	font-family: Arial, Helvetica, sans-serif;
}
.detailEditCell:hover {
	color: #FF0000;
	text-decoration: underline;
}
table#SD {
	border-collapse: collapse;
}
td#SDCellLeft {
	text-align: right;
	row-span: 1;
}
td#SDCellRight {
	text-align: left;
	row-span: 1;
}
.detailElements {
	font-size: 1em;
}
.sessionTimer {
	background-color: green;
	color: white;
	position: absolute;
	top: 2em;
	right: 0px;
	font-size: x-small;
	margin-right: 3px;
	padding-right: 3px;
	padding-left: 3px;
}
.sessionExpiring {
	background-color: red;
	color: white;
	position: absolute;
	top: 2em;
	right: 0px;
}
.annotateSpace, .annotateSpace a:visited .annotateSpace a {
	font-size: .75em;
	font-weight: bold;
	color: #2B547E;
	float: right;
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
}
.annotateSpace:hover {
	color: #FF0000;
	text-decoration: underline;
}
.specResultPartCell {
	font-size: small;
	border: none;
}
.windowCloser {
	float: right;
	clear: left;
	position: relative;
	top: 0px;
	cursor: pointer;
	color: #2B547E;
	font-size: .85em;
}
.uploadMediaDiv {
	border: 3px solid red;
	z-index: 9999;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 65%;
	height: 100px;
	background-color: white;
	overflow: hidden;
}
.customBox {
	border: 3px solid green;
	z-index: 9999;
	position: absolute;
	top: 5%;
	left: 5%;
	width: 65%;
	height: 450px;
	background-color: white;
	overflow: hidden;
}
table.specResultTab {
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: outset outset outset outset;
	border-color: gray gray gray gray;
	border-collapse: collapse;
	background-color: white;
}
table.specResultTab th {
	border-width: 1px 1px 1px 1px;
	border-style: solid solid solid solid;
	border-color: gray;
	-moz-border-radius: 0px 0px 0px 0px;
	color: white;
	font-weight: 600;
	background: #2176cc;
	line-height: 14px;
	padding: 4px;
}
table.specResultTab td:nth-child(2) {
	font-style: italic
}
.wrapLong {
	font-size: small;
	width: 250px;
}
div.code {
	font-size: smaller;
	color: #2F4F4F;
}
span.helpDiv {
	position: relative; /*this is the key*/
	z-index: 99;
	color: #0000FF;
	text-decoration: none;
}
.red {
	background-color: #FF0000;
}
redCheck {
	border: 5px solid red;
}
.infoLink, .infoLink a:visited {
	cursor: pointer;
	color: #2B547E;
	font-size: .65em;
	font-family: Arial, Helvetica, sans-serif;
}
.infoLink:hover {
	color: #FF0000;
	text-decoration: underline;
}
.pageHelp, .pagehelp a:visited {
	font-size: .75em;
	font-weight: bold;
	color: #2B547E;
	float: right;
}
.error {
	font-size: 2em;
	color: red;
	border: 2px solid red;
	padding: 10px;
	margin: 10px;
}
#navbar {
	color: green;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	text-align: center;
}
#navbar li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}
#navbar a, a.active {
	color: green;
	background-color: #E7E7E7;
	border-right: 1px solid black;
	text-decoration: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	font-weight: bolder;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
#navbar span, span.active {
	color: green;
	background-color: #E7E7E7;
	border-right: 1px solid black;
	text-decoration: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	font-weight: bolder;
	font-size: small;
	font-family: Arial, Helvetica, sans-serif;
}
#navbar a.active {
	background-color: #000000;
	color: green;
}
#navbar span.active {
	background-color: #000000;
	color: green;
}
#navbar a:hover {
	color: red;
	background: #E7E7E7;
	border-bottom: 1px solid black;
}
#navbar span:hover {
	color: red;
	background: #E7E7E7;
	border-bottom: 1px solid black;
}
#navbar a:visited {
	color: #0000FF;
}
#navbar span:visited {
	color: #0000FF;
}
#navbar a.active:hover {
	background: #FFFFFF;
	color: #FF0000;
}
#navbar span.active:hover {
	background: #FFFFFF;
	color: #FF0000;
}
div.fldDef {
	float: right;
	clear: both;
	border: 1px solid green;
	font-size: x-small;
	color: #999999;
	padding: 3px;
	margin-left: 5px;
	margin-right: 2px;
	width: 200px;
	z-index: 1;
}
a.info {
	position: relative;
	z-index: 24;
	color: #000;
	text-decoration: none;
}
a.info:hover {
	z-index: 20;
	background-color: transparent;
	font-size: small;
}
a.info span {
	display: none
}
a.info:hover span {
	display: block;
	position: absolute;
	top: 2em;
	left: 2em;
	border: 1px solid #0cf;
	background-color: #FFFFFF;
	color: #000;
	text-align: center;
	text-decoration: none;
}
span.helpLink {
	background-color: transparent;
	padding: 2px;
}
div.breadcrumbs {
	font-size: .6em;
	font-weight: bold;
}
h1 {
	font-size: 2em;
	font-weight: bold;
}
h2 {
	font-size: 1.6em;
	font-weight: bold;
}
h2.wikilink {
	width:70%;
	float: left;
	margin-bottom: .15em;
	margin-top: 1.5em;
	margin-left: .5em;
	line-height: 1em;
}
h2.wikilink span {
	font-style: italic;
	font-size: smaller;
}
h2.wikilink img {
	vertical-align: top;
	margin-top: -7px
}
h2.wikilink_Narrow {
	/*width:70%;*/
	float: left;
	margin-bottom: .15em;
	margin-top: 1.5em;
	/*margin-left: .5em;*/
	line-height: 1em;
}
h2.wikilink_Narrow span {
	font-style: italic;
	font-size: smaller;
}
h2.wikilink_Narrow img {
	vertical-align: top;
	margin-top: -7px
}

table.sortable a.sortheader {
	background-color: #eee;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	display: block;
}
table.sortable span.sortarrow {
	color: black;
	text-decoration: none;
}
body.helpPages {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFF99;
	margin: 10px;
}
input.hBtn {
	color: #666666;
	font-size: 8pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCC99;
	border-color: #336666;
	border: 1px solid;
}
span.lblFont {
	font-size: 9px;
	font-weight: 600;
	color: #333333;
}
label {
	display: block;
	font-size: 12px;
	font-weight: 800;
}
fieldset {
	padding: 0;
}
div.content {
	margin-left: 5px;
	margin-right: 5px;
	clear: both;
}
.smaller {
	font-size: .8em;
}
div.infoBox {
	background-color: #999999;
	color: #333333;
	font-size: smaller;
	padding: 3px;
}
.likeLink {
	cursor: pointer;
	color: blue;
}
.likeLink:hover {
	text-decoration: underline;
	color: #CC0000;
}
span.helpPopupLink {
	cursor: pointer;
	color: blue;
}
span.helpPopupLink:hover {
	color: red;
	border-bottom: 1px solid red;
}
div.helpPopup {
	font-weight: normal;
	background-color: #FFFF99;
	position: absolute;
	border: solid blue 1px;
	color: black;
	text-align: left;
	width: 250px;
	padding: 2px;
	z-index: 100;
	font-size: .7em;
	text-decoration: none;
	cursor: default;
}
div.helpPopupHidden {
	display: none;
}
.selectedLink {
	color: #FF0000;
}
div.group {
	background-color: #EFEFEF;
	padding: 5px;
	border: 3px solid #EFEFEF;
}
.controlButton {
	color: #666666;
	font-size: 10pt;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CCFF;
	background-color: #add6ff;
	border-color: #336666;
	border: 1px solid;
	padding: 2px 3px;
	text-align: center;
	cursor: hand;
	text-decoration: none;
}
.linkButton {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CCFF;
	border-color: #336666;
	border: 1px solid;
	padding: 2px;
	text-align: center;
}
div.isAButton {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;
	border-color: #336666;
	border: 1px solid;
	padding: 2px;
	width: 80%;
	text-align: left;
	text-indent: 10px;
}
div.HalfAButton {
	color: black;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F5F5F5;
	border-color: #336666;
	border: 1px solid;
	padding: 2px;
	width: 40%;
	text-align: left;
	text-indent: 10px;
	float: left;
}
A:link {
	text-decoration: none;
	color: #3e5aa8;
	color: #114bc7;
}
A:visited:hover {
	text-decoration: none;
	color: #CC0000;
}
A:visited {
	text-decoration: none;
	color: #660099;
}
A:hover {
	text-decoration: none;
	color: #CC0000;
}
A.novisit {
	color: blue;
}
div.pagewidth {
	margin-left: 5%;
	margin-right: 5%;
}
div.leftHome {
	text-align: left;
	width: 400px;
	float: left;
	padding: 2px;
}
div.rightHome {
	text-align: left;
	width: 192px;
	float: right;
	border-color: #000066;
	border-style: solid;
	border-width: 2px;
}
tr.evenRow, td.evenRow {
	background-color: #FFFFFF;
}
tr.oddRow, td.oddRow {
	background-color: #F5F5F5;
}
.newRec {
	background-color: #D6F5F2;
}
table.newRec {
	background-color: #D6F5F2;
	padding: 0;
	border-spacing: 0;
}
input.savBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FBD29B;
	border: 1px solid;
	border-color: #336666;
}
input.lnkBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #99CCFF;
	border-color: #336666;
	border: 1px solid;
	padding: 0px 4px;
}
input.schBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCC99;
	border-color: #336666;
	border: 1px solid;
}
input.clrBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFCC00;
	border-color: #336666;
	border: 1px solid;
}
input.insBtn {
	color: #666666;
	font-weight: bold;
	background-color: #99CCCC;
	border: 1px solid #336666;
}
input.insBtn:hover {
	border-top-color: #FF6633;
	border-left-color: #FF6633;
	border-right-color: #FF6666;
	border-bottom-color: #FF6666;
	cursor: pointer;
}
input.savBtn:hover {
	border-top-color: #FF6633;
	border-left-color: #FF6633;
	border-right-color: #FF6666;
	border-bottom-color: #FF6666;
	cursor: pointer;
}
input.picBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #CCCC99;
	border-color: #336666;
	border: 1px solid;
}
input.delBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FF9966;
	border-color: #336666;
	border: 1px solid;
}
input.qutBtn {
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFFF00;
	border-color: #336666;
	border: 1px solid;
}
input.reqdClr, select.reqdClr, textarea.reqdClr {
	background-color: #FFFF33;
	background-color: #E4E476;
}
input.badPick, select.badPick, textarea.badPick {
	background-color: #FF3366;
}
input.goodPick, select.goodPick, textarea.goodPick {
	background-color: #8BFEB9;
}
input.seleClr, select.seleClr, textarea.seleClr {
	background-color: #FF0000;
}
input.readClr, select.readClr {
	background-color: #CCCCCC;
}
.btnhov {
	border-top-color: #FF6633;
	border-left-color: #FF6633;
	border-right-color: #FF6666;
	border-bottom-color: #FF6666;
	cursor: pointer;
}
pre {
	text-indent: 30px
}
#tabmenu {
	color: blue;
	border-bottom: 2px solid black;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px;
	font-weight: bolder;
	font-size: small;
}
#tabmenu li {
	display: inline;
	overflow: scroll;
	list-style-type: none;
}
#tabmenu a, a.active {
	color: blue;
	background-color: #E7E7E7;
	border-right: 1px solid black;
	text-decoration: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 0px 5px 0px 5px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#tabmenu a.active {
	background: #FFFFFF;
	border-bottom: 4px solid #FFFFFF;
	font-weight: bolder;
	font-size: small;
}
#tabmenu a:hover {
	color: red;
	background: #E7E7E7;
}
#tabmenu a:visited {
	color: #0000FF;
	font-family: Arial, Helvetica, sans-serif;
}
#tabmenu a.active:hover {
	background: #FFFFFF;
	color: #FF0000;
	border-bottom: 3px solid #FFFFFF;
}
.style2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
.style3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: xx-large;
}
.style4 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
}
.style5 {
	font-size: large;
}
.style6 {
	font-family: Arial, Helvetica, sans-serif;
}
.style8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
}
/* \a0 is the iso8859-1 encoding for nbsp */
.external:after {
	text-decoration: none !important;
	content: "\a0" url(/images/linkOut.gif);
}
a.external:link:after {
	text-decoration: none !important;
	content: "\a0" url(/images/linkOut.gif);
}
a.external:hover:after {
	text-decoration: none !important;
	content: "\a0" url(/images/linkOutHover.gif);
}
a.external:visited:after {
	text-decoration: none !important;
	content: "\a0" url(/images/linkOutVisited.gif);
}
a.external:hover:visited:after {
	text-decoration: none !important;
	content: "\a0" url(/images/linkOutHover.gif);
}
#header_color {
	/*      background-color: #e7e7e7;   */
	margin: 0;
	margin-top: .5em;
	width: 100%;
}
.headerImageCell {
	padding: 5px 0 5px 10px;
}
.headerInstitutionText {
	font-family: Arial, Helvetica, sans-serif;
	color: #bfbfbf;
	color: #eff5fa;
	color: #000066;
	font-weight: bold;
	margin-left: 1px;
}
.headerCollectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
}
a:hover.headerCollectionText {
	text-decoration: none;
}
.headerCollectionTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}
.observations_included {
	margin-left: 2em;
	margin-bottom: .85em;
}
.access_l {
	margin-left: 1em;
}
li.last {
	border-right: 1px solid white;
	padding-right: 10px;
}
#headerLinks {
	top: 12px;
	right: 22px;
	z-index: 1;/* float:right;position:absolute;right:5px;clear:both; */
}
#divContainer {
	width: 500px;
	padding: 2px 4px;
	font-size: 10px;
}
table.bottom_band {
	margin: 2px;
	margin-top: -2px;
	padding: 5px 5px 0 5px;
	background-color: #339999;
}
.recordcount {
	height: 16px;
	margin-left: 800px;
	margin-top: -58px;
	padding-bottom: 58px;
	color: #fff;
	font-size: 13px;
	position: absolute;
	width: 180px;
}
.gCount {
	color: #fff;
	font-size: 15px;
	font-family: "Courier New", Courier, monospace
}
.detailsLink {margin: 1.5em .75em;}
.pubs_style {
	font-size: 11.2px;
	width: 670px;
	float: left;
	position: relative;
	margin-top: 5px;
}
.pubS {
	float: left;
	position: relative;
	width: 140px;
}
.pubSpace {margin: .25em 1em;}
div.topBlock {
	border: 2px solid #0066cc;
	margin-top: 10px;
	padding: 0px 0px 2px 2px;
	background-color: #7faad4;
	background-color: white;
}
.topsearch {
	margin: 15px 0 12px 20px;
}
.searchsection {
	display: none;
	border: 1px solid green;
	padding: .5em;
}
.leftspace {
	padding-left: 10px;
	padding-right: 10px;
}
.barofpromise {
	position: absolute;
	top: 15%;
	right: 50%;
	z-index: 999;
	background-color: green;
	color: white;
	font-size: large;
	font-weight: normal;
	padding: 15px;
	z-index: -100;
}
.linksHead {
	float: right;
	position: absolute;
	right: 5px;
	clear: both;
}
.shell {
	background-color: #E6ebe0;
	-webkit-box-shadow: 15px 15px 39px -14px rgba(102,102,102,1);
	-moz-box-shadow: 15px 15px 39px -14px rgba(102,102,102,1);
	box-shadow: 15px 15px 39px -14px rgba(102,102,102,1);
	padding: 1em;
	margin: 1em;
	width: 500px;
	float: left;
	position: relative;
	font-family: Arial, sans-serif;
}
.shell h2 {
	color: #968768;
	text-transform: capitalize;
	position: relative;
	font-size: 20px;
	font-weight: bold;
	padding: 0 1em 0 0;
	width: 450px;
	text-indent: -25px;
	margin-left: 50px;
}
.shell h2 a {
	color: #968768;
}
.shell h2 a:hover {
	color: #666666;
}
.feedAtom {
	background-color: #f4f1bb;
	border: 1px solid #ed6a5a;
	position: relative;
	margin: 1.5em;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.feedAtom a {
	color: #5ca4a9;
}
.feedAtom a:hover {
	color: #456F7A;
}
.feedAtom h3 {
	padding-left: 6.7em;
}

.updatedAtom {
	position: absolute;
	font-family:Arial, sans-serif;
	z-index: 500;
	margin-left: -10px;
	margin-top: -5px;
	background-color: #ffffff;
	color: #118ac8;
	font-size: 12px;
	border: 1px solid #ecf5f7;
	width: auto;
	height: 30px;
	text-align: center;
	background: #ffffff;
	-moz-border-radius: 26px;
	-webkit-border-radius: 26px;
	border-radius: 26px;
	-webkit-box-shadow: 10px 10px 29px -14px rgba(102,102,102,1);
	-moz-box-shadow: 10px 10px 29px -14px rgba(102,102,102,1);
	box-shadow: 10px 10px 29px -14px rgba(102,102,102,1);
}
div.updatedAtom p {
	margin: 8px 10px;
}
.authorAtom {
	position: absolute;
	margin-left: 10px;
	margin-top: 35px;
	z-index: 1000;
	font-size: 13px;
	color: #666;
	width: 8em;
	float: left;
}

/* added styles for loans */
#loan {width: 700px;margin: 0 0 30px 62px;border-right: 2px solid #ebebeb;padding-right: 33px;}
.page_title {float:left;}
.page_title h1 {font-size: 25px;margin-left: 67px;height: 28px; text-align:bottom;}
.page_title h1 img.likebox {vertical-align:top; width:16px;}
#loan .lnum input {width: 120px;}
.open_loans {float:right; display: inline;margin: 3em  50px 1.5em 0px;}
.partLoan {margin-top: 2em;}
.parts1 {text-align:right;vertical-align: top; padding-top: 1em;}
#loan td .schBtn {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #666;
padding: 2px 5px;
cursor:pointer;
}
#loan td .schBtn:hover {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #FF0000;
padding: 2px 5px;
cursor:pointer;
}
#loan .open_loans input.schBtn {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #666;
padding: 3px 5px;
cursor:pointer;
}
#loan .open_loans input.schBtn:hover {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #FF0000;
padding: 3px 5px;
cursor:pointer;
}

#loan td .qutBtn {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #666;
padding: 2px 5px;
cursor:pointer;
}
#loan td .qutBtn:hover {
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
border: 2px solid #444;
padding: 2px 5px;
cursor:pointer;
}
header {
	font-weight: bold;
	margin-left: 10px;
}
.loan_results {
	font-family:Arial,Helvetica,sans-serif;
	width: 100%;
}
.loan_results:nth-child(even) {
	background-color: #f3f2f2;
	padding: 8px 0 2px 0;
}
.loan_results:nth-child(odd) {
	background-color: #ffffff;
	padding: 8px 0 2px 0;
	
}
.loan_results p {
	margin: 0 0 0 10px;
	padding: 0;
	font-size: .85em;
	border-bottom: 3px solid #E4E476;
	width: 8em;
	text-align:center;
}
header .download {
	background-color: #99cc99;
	text-decoration: none;
	font-size: 94%;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	width: auto;
	margin: 4px 5px 4px 10px;
	border: 2px solid #ccc;
	padding: 3px 6px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
}
header .download a:hover {color: #666;}
#listloans dl {
	width: 100%;
	float: left;
	padding: 5px 0 0 0;
	margin: 0 0 2px 0;
	font-size: .85em;
}
#listloans dt {
	width: 20%;
	min-width: 200px;
	float: left;
	padding: 1px 10px 0px 3px;
	text-align: right;
	height: 1.1em;
	height:auto;
	display: inline;
	cursor: pointer;
	margin: 1px 0;
}
#listloans dd {
	float: left;
	-webkit-margin-start: 0;
	height: 1.4em;
	height: auto;
	width: 65%;
	min-width: 510px;
	display: inline;
	text-align: left;
	margin: 2px 5px 2px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	padding: 1px 5px;
	font-weight: 500;
}
#listloans dd.mandcolr {
	background-color: #E4E476;
}
#listloans dd.mandcolrstatus {
	background-color: #E4E476;
	color: transparent;
}
#listloans dd.large {
	height: auto;
	min-height: 18px;
	padding: 1px 8px;
}
#listloans dd.emptystatus {color: transparent; background-color: #ccc;}

ul.loan_buttons {
	clear: both;
	margin-left: 24%;
	font-size: 94%;

}
ul.loan_buttons li {
	background-color: #99cc99;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
	display: inline-block;
	width: auto;
	margin: 4px 5px 4px 0;
	border: 2px solid #ccc;
	padding: 3px 6px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul.loan_buttons li:hover {
	border: 2px solid #666;
}
ul.loan_buttons li a:hover {
	color: #666;
}
ul.loan_buttons li a:visited {
	color: #114BC7;
}
ul.loan_buttons li.add {
	background-color: #D3B90F;
	background-color: #ffcc44;
}
ul.loan_buttons li.barcode {
	background-color: #D4E842;
	background-color: #FBD29B;
}
ul.loan_buttons li.edit {
	background-color: #9cf;
}
ul.loan_buttons li.edit:hover, ul.loan_buttons li.add:hover, ul.loan_buttons li.barcode:hover {
	border: 2px solid #666;
}
ul.lisc {
	-webkit-padding-start: 5px;
	-moz-padding-start: 5px;
	color: #666;
	font-size: 13px;
}
ul.lisc li {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 12px;
	margin: 0 0 0 1.2em;
	padding: .5em 4px;
	text-indent: -.12em;
	list-style: disc;
}
@media only screen and (max-width: 800px) {

#listloans dt  {
   width: 200px;
   text-align:left;
  }
#listloans dd {
	width: 510px;
}
}

/* end additional styles for loans */  
.cellDiv {width: 97%;}
.greenbox {border:2px solid green;margin:1px;padding:2px;margin-bottom: 20px;}

/**************NEW STYLES --Centering--- *********************/

#pg_container {
	width: 100%;
	margin: 0;	
}
.content_box {
	width:57em;
	margin: 0 auto;
}
.content_box table {
	width: 100%;
	margin-bottom: .5em;

}
.content_box_pub {
	width:57em;
	margin: 0 auto;
	margin-bottom: 1em;
}
.content_box_pub table{border: 1px solid green; }
.content_box_pub select, .content_box_pub input {width: 180px;margin-left: 2em;}
.content_box_pub h4, .content_box_pub label  {margin-left: 2em;}
.content_box_pub label {margin: .5em 0 0 2.3em;}
.content_box_pub select {margin-bottom: .25em;}
.content_box_pub .clrBtn, .content_box_pub .schBtn {padding: 3px 0;width: 100px;}
#headerContent {
	width: 100%;
	background-color: #b4ab85;
	background-color: #d3d3d3;
	border-bottom: 1px solid #ccc;
	position: relative;
}

#image_headerWrap {
	width: 57em;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	position:relative;
}
#image_headerWrap .headerImageCell img {
	padding: 0;
	float: left;
	width: 250px;
	height: 58px;
	display: inline;
	padding: .5em .5em 1em 1.5em;
}

#image_headerWrap .headerText h1{
	float: left;
	width: 30em;
	display: inline;
	margin-top: .5em;
}
#headerWrap {
	height: 21px;
	width: 62em;
	background-color: #e8eef3;
	border-bottom: 2px solid #e8eef3;
}
h1.headerCollectionText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #660000;
}
span.headerInstitutionText {
	font-family: Arial, Helvetica, sans-serif;
	color: #000066;
	font-weight: bold;
	margin-top: 5px;
	display: block;
	font-size: 18px;
}
a:hover.headerCollectionText {
	text-decoration: none;
	color: #cc0000;
}
.headerCollectionTextSmall {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
}
.sf-menu {
	width: 100%;	
}


