.defaultTreeTable{
			margin : 0px;
			padding : 0px;
			border : 0px;
}
.containerTableStyle { overflow : auto; position:relative; top:0; font-size : 12px;padding-right:10px;}
.containerTableStyleRTL span { direction: rtl; unicode-bidi: bidi-override;  }
.containerTableStyleRTL { direction: rtl; overflow : auto; position:relative; top:0; font-size : 12px;}
.standartTreeRow{	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none;  }
.selectedTreeRow{ color:black; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }
.dragAndDropRow{ background-color : navy; color:white; }
.standartTreeRow_lor{	text-decoration:underline; background-color : #FFFFF0; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 	font-size : 12px; -moz-user-select: none; }
.selectedTreeRow_lor{   text-decoration:underline; background-color : navy; color:white; font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; 		font-size : 12px;  -moz-user-select: none; }

.standartTreeImage{ width:18px; height:18px;  overflow:hidden; border:0; padding:0; margin:0;
font-size:1px; }
.hiddenRow { width:1px;   overflow:hidden;  }
.dragSpanDiv,.dragSpanDiv td{ 	font-size : 12px; 	background-color:white; }


.selectionBox{
background-color: #FFFFCC;
}
.selectionBar {
	top:0;
	background-color: Black;
	position:absolute;
	overflow:hidden;
	height: 2px;
	z-index : 11;
}

.intreeeditRow{
  width:100%; font-size:8pt; height:16px; border:1px solid silver; padding:0; margin:0;
  -moz-user-select:  text;
}
.dhx_tree_textSign{
   font-size:8pt;
   font-family:monospace;
   width:21px;
   color:black;
   padding:0px;
   margin:0px;
   cursor:pointer;
   text-align: center;
}
.dhx_tree_opacity{
    opacity:0;
    -moz-opacity:0;
    filter:alpha(opacity=0);
}
.dhx_bg_img_fix{
width:18px;
height:18px;
background-repeat: no-repeat;
background-position: center;
background-position-x: center;
background-position-y: center;
}
.cTreePane {
	height:700px;
overflow-y:scroll;
overflow-x:auto;
padding: 1em 1em 0 1em;
}
.ajaxWorking{
	top: 15%;
	color: green;
	text-align: center;
	margin: auto;
	position:absolute;
	max-width: 50%;
	right:55%;
	background-color:white;
	padding:1em;
	border:1px solid;
	overflow:hidden;
	z-index:1;
	/*overflow-y:scroll;*/
	}
.ajaxDone {display:none}
.ajaxMessage {color:green;}
.ajaxError {color:red;}
ul.findContainer {
  display: flex;
  justify-content: space-between;
}
ul.findContainer li:first-child {
	float: left;
	list-style:none;
}
ul.findContainer li {
	width: 25%;
	float: left;
	list-style:none;
}
ul.findContainer li:after {content:'';width: 100%; display:inline-block;}
ul.findContainer li select {float: right; width: 90%;padding: .75em;border-radius: 5px;}
ul.findContainer li input {float: right;width: 88%;padding: .75em;border-radius: 5px;}
ul.findContainer li label {text-align: center;}
ul.findContainer li input.schBtn {float: left;width: 43%;margin-right: 1em;margin-left: .5em;margin-top: 1.6em;}
ul.findContainer li input.clrBtn {float: left;width: 43%;margin-top: 1.6em;}
.fullPane {width:98%;clear:both;height: auto;min-height: 700px;padding: 0 20px;}
@media(max-width:1000px) {
ul.findContainer li {
	width: 100%;
	display: block;
	float: left;
}
ul.findContainer li {
	list-style: none;
	display: inline-block;
	float: left;
	height: 60px;
	margin-right: .5%;
}
ul.findContainer {
  display: block;
  justify-content: space-around;
}
}
